@using System.Data;
@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:135px;">
                    <label>Name</label>
                </th>
                <th style="width:270px;">
                    <label>Description</label>
                </th>
                <th style="width:100px;">
                    <label>Approval Manager</label>
                </th>
                <th style="width:75px;">
                    <label>Approval Date</label>
                </th>
                <th style="width:75px;">
                    <label>PO #</label>
                </th>
                <th style="width:75px;">
                    <label>Business Unit</label>
                </th>
                <th style="width:45px;">
                    <label>Cost Center</label>
                </th>
                <th style="width:45px;">
                    <label>QTY</label>
                </th>
                <th style="width:50px;">
                    <label>UOM</label>
                </th>
                <th style="width:65px;">
                    <label>Bill Rate</label>
                </th>
                <th style="width:75px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td style="width:135px;">
                        Alebiousu Violet
                    </td>
                    <td style="width:270px;">
                        Adjustment-Regular Time Adjustment (05/04/2014 to 05/10/2014) [4338873]
                    </td>
                    <td style="width:100px;">
                       
                    </td>
                    <td style="width:75px;">
                        
                    </td>
                    <td style="width:75px;">
                    
                    </td>
                    <td style="width:75px;">
                      Jackson Health System
                    </td>
                    <td style="width:45px;">
                        
                    </td>
                    <td style="width:45px;">
                        -36.25
                    </td>
                    <td style="width:50px;">
                        Hourly
                    </td>
                    <td style="width:65px;">
                        $ 69.73
                    </td>
                    <td style="width:75px;">
                        - $ 2,470.80
                    </td>
                </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
