@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:260px;">
                    <label>Benämning</label>
                </th>
                <th style="width:108px;">
                    <label>Lev,Enh.</label>
                </th>
                <th style="width:135px;">
                    <label>à-pris</label>
                </th>
                <th style="width:120px;">
                    <label>Summa</label>
                </th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td style="width:260px;">
                        Recruitment Fee Gtogowski Krzysztof [409420]
Polska RPO Inter Paper - International Paper Polska
RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                       PLN 3,091.00
                    </td>
                    <td style="width:120px;">
                        PLN 3,091.00
                    </td>
                </tr>
          <tr>
                    <td style="width:260px;">
                        Recruitment Fee Przybylska, Katarzyna [409421]
Polska RPO Inter Paper - International Paper Polska
RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 1,140.00
                    </td>
                    <td style="width:120px;">
                        PLN 1,140.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Maziarz, Norbert [409422] Polska
RPO Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                       PLN 13,090.00
                    </td>
                    <td style="width:120px;">
                        PLN 13,090.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Ubanczyk, Jakub [409423] Polska
RPO Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 13,600.00
                    </td>
                    <td style="width:120px;">
                        PLN 13,600.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Ronda, Tomasz [409424] Polska
RPO Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 19,356.00
                    </td>
                    <td style="width:120px;">
                        PLN 19,356.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Bogdat, Piotr [409425] Polska
RPO Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 9,000.00
                    </td>
                    <td style="width:120px;">
                        PLN 9,000.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409432] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 13,600.00
                    </td>
                    <td style="width:120px;">
                        -PLN 13,600.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409433] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 19,356.00
                    </td>
                    <td style="width:120px;">
                        -PLN 19,356.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409434] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 9,000.00
                    </td>
                    <td style="width:120px;">
                        -PLN 9,000.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409435] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 12,000.00
                    </td>
                    <td style="width:120px;">
                        -PLN 12,000.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409436] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 15,300.00
                    </td>
                    <td style="width:120px;">
                        -PLN 15,300.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409437] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 17,000.00
                    </td>
                    <td style="width:120px;">
                        -PLN 17,000.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Wojarski, Maciej [409426] Polska
RPO Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 12,000.00
                    </td>
                    <td style="width:120px;">
                       PLN 12,000.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Ryk, Agata [409427] Polska RPO
Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 15,300.00
                    </td>
                    <td style="width:120px;">
                        PLN 15,300.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        Recruitment Fee Szyszko, Wojciech [409428]
Polska RPO Inter Paper - International Paper Polska
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        PLN 17,000.00
                    </td>
                    <td style="width:120px;">
                        PLN 17,000.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Krzysztof Reversal [409429] Polska RPO
Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 3,091.00
                    </td>
                    <td style="width:120px;">
                        -PLN 3,091.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Katarzyna Reversal [409430] Polska RPO
Inter Paper - International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 1,140.00
                    </td>
                    <td style="width:120px;">
                        -PLN 1,140.00
                    </td>
                </tr><tr>
                    <td style="width:260px;">
                        RPO Fee Reversal [409431] Polska RPO Inter Paper
- International Paper Polska RPO
                    </td>
                    <td style="width:108px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        -PLN 13,090.00
                    </td>
                    <td style="width:120px;">
                        -PLN 13,090.00
                    </td>
                </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
            <!-- -fill out bottom of last page with white space -->
                <tr>
                    <td style="width:622px;">
                    </td>
                    <td style="width:2px;">
                    </td>
                </tr>
  
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
            
                <tr>
                    <td style="width:200px;">
                        Netto
                    </td>
                    <td style="width:85px;">
                        Moms
                    </td>
                    <td style="width:200px;">
                        Moms
                    </td>
                </tr>

                <tr>
                    <td style="width:200px;">
                        PLN 0.00
                    </td>
                    <td style="width:85px;">
                       0.00 %
                    </td>
                    <td style="width:200px;">
                        PLN 0.00
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;">
                    </td>
                    <td style="width:85px;">
                    </td>
                    <td style="width:200px;">
                        
                    </td>
                </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
           
                <tr>
                    <td style="width:149px;font-weight:bold;">
                        Att betala
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                        PLN 0.00
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;">
                    </td>
                </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
          
                <tr>
                    <td style="width:260px;">
                        
                    </td>
                    <td style="width:108px;">
                    </td>
                    <td style="width:135px;">
                    </td>
                    <td style="width:120px;">
                    </td>
                </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
            
                <tr>
                    <td style="width:260px;">
                       
                    </td>
                    <td style="width:108px;">
                    </td>
                    <td style="width:135px;">
                    </td>
                    <td style="width:120px;">
                    </td>
                </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
