@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Nazwa towaru lub usługi</label>
                </th>
                <th style="width:60px;">
                    <label>J.m.</label>
                </th>
                <th style="width:70px;">
                    <label>Ilość</label>
                </th>
                <th style="width:125px;">
                    <label>Cena jedn. netto (PLN)</label>
                </th>
                <th style="width:200px;">
                    <label>Wartość sprzedaży netto (PLN)</label>
                </th>
            </tr>
        </thead>
        <tbody>
         
                <tr>
                    <td style="width:250px;">
                        Recruitment Fee Gtogowski Krzysztof [409420]
Polska RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                       3,091.00
                    </td>
                    <td style="width:200px;">
                        3,091.00
                    </td>
                </tr>
				 <tr>
                    <td style="width:250px;">
                        Recruitment Fee Przybylska, Katarzyna [409421]
Polska RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        1,140.00
                    </td>
                    <td style="width:200px;">
                       1,140.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        Recruitment Fee Maziarz, Norbert [409422]
Polska RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        13,090.00
                    </td>
                    <td style="width:200px;">
                        13,090.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        Recruitment Fee Ubanczyk, Jakub [409423]
Polska RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        13,600.00
                    </td>
                    <td style="width:200px;">
                        13,600.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        Recruitment Fee Ronda, Tomasz [409424] Polska
RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        19,356.00
                    </td>
                    <td style="width:200px;">
                        19,356.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                       Recruitment Fee Bogdat, Piotr [409425] Polska
RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        9,000.00
                    </td>
                    <td style="width:200px;">
                        9,000.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        Recruitment Fee Wojarski, Maciej [409426]
Polska RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        12,000.00
                    </td>
                    <td style="width:200px;">
                        12,000.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        Recruitment Fee Ryk, Agata [409427] Polska
RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        15,300.00
                    </td>
                    <td style="width:200px;">
                        15,300.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                      Recruitment Fee Szyszko, Wojciech [409428]
Polska RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                       17,000.00
                    </td>
                    <td style="width:200px;">
                        17,000.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        RPO Fee Krzysztof Reversal [409429] Polska
RPO Inter Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -3,091.00
                    </td>
                    <td style="width:200px;">
                        -3,091.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409431] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -1,140.00
                    </td>
                    <td style="width:200px;">
                        -1,140.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409431] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -13,090.00
                    </td>
                    <td style="width:200px;">
                        -13,090.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409432] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                       -13,600.00
                    </td>
                    <td style="width:200px;">
                        -13,600.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                       RPO Fee Reversal [409433] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -19,356.00
                    </td>
                    <td style="width:200px;">
                        -19,356.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409434] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -9,000.00
                    </td>
                    <td style="width:200px;">
                        -9,000.00
                    </td>
                </tr> <tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409435] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -12,000.00
                    </td>
                    <td style="width:200px;">
                        -12,000.00
                    </td>
                </tr> 
				<tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409436] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -15,300.00
                    </td>
                    <td style="width:200px;">
                        -15,300.00
                    </td>
                </tr>
				<tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409436] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -15,300.00
                    </td>
                    <td style="width:200px;">
                        -15,300.00
                    </td>
                </tr>
				<tr>
                    <td style="width:250px;">
                        RPO Fee Reversal [409437] Polska RPO Inter
Paper
                    </td>
                    <td style="width:60px;">
                        Hours
                    </td>
                    <td style="width:70px;">
                        1.00
                    </td>
                    <td style="width:125px;">
                        -17,000.00
                    </td>
                    <td style="width:200px;">
                        -17,000.00
                    </td>
                </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
          
                <tr>
                    <td style="width:385px;">
                        Suma wartości sprzedaży netto (PLN)
                    </td>
                    <td style="width:115px;">
                    </td>
                    <td style="width:205px;">
                        0.00
                    </td>
                </tr>
                <tr>
                    <td style="width:385px;">
                        Stawka i kwota VAT (PLN)
                    </td>
                    <td style="width:115px;">
                        0 %
                    </td>
                    <td style="width:205px;">
                        0.00
                    </td>
                </tr>
                <tr>
                    <td style="width:385px;">
                    </td>
                    <td style="width:115px;">
                    </td>
                    <td style="width:205px;height:20px;">
                        
                    </td>
                </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
           
                <tr>
                    <td style="width:385px;">
                        Kwota należności ogółem wraz z VAT (PLN)
                    </td>
                    <td style="width:100px;">
                    </td>
                    <td style="width:221px;">
                        0.00
                    </td>
                </tr>
         
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
           
                <tr>
                    <td style="width:250px;height:20px;">
        
                    </td>
                    <td style="width:60px;">
                    </td>
                    <td style="width:70px;">
                    </td>
                    <td style="width:125px;">
                    </td>
                    <td style="width:200px;">
                    </td>
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
