@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <div>
        <label>
            Telefon
        </label>
        <label>
            222634100
        </label>
        <label>
            Fax
        </label>
        <label>
            222634199
        </label>
        <label>
            KRS
        </label>
        <label>
            0000334189
        </label>
    </div>
    <div>
        <label>
            Numer konta
        </label>
        <label>
            PL37 2370 0008 0000 0000 2021 5009
        </label>
        <label>
            NIP
        </label>
        <label>
            525-24-61-507
        </label>
        <label>
        </label>
        <label>
        </label>
    </div>
    <div>
        Bank
        SEB
        BIC
        ESSEPLPW
        IBAN
        PL37 2370 0008 0000 0000 2021 5009
    </div>
</div>
