@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
    font-family: 'Times New Roman', Times, serif;
}

.HeaderMainDiv {
    width: 100%;
    font-size: small;
    letter-spacing: 1px;
    margin-top: 2%;
}

.HeaderMainDiv > div {
    display: inline-block;
}

.font-bold {
    font-weight: bold;
}

span {
    display: block;
}

.vertical-align-top {
    vertical-align: top;
}

.display-inline-block {
    display: inline-block;
}

.padding-right {
    padding-right:5px;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-size: small;
    width: 400px;
}

table td {
    border: 1px solid #000;
    padding-left: 3px;
}
</style>
<div>
    <div style="y:0;x:300;width:91px;height:90px;">
         <img src="http://www.zerochaos.com/PDF/PdfImages/zclogo.png" alt="logo" style="width:90px;height:90px;" />
    </div>
  
    
        <div style="font-weight:bold;vertical-align:top;width:0;y:107;x:13;text-align:left;">
            <div style="font-family:Calibri;padding-bottom:0px;font-size:11px;padding-top:0px;font-weight:underline;bold;">
                Sprzedawca:
            </div>
            <div style="font-family:Calibri;padding-bottom:0px;font-size:11px;padding-top:2px;">
                ZeroChaos Sp.z o.o
                Ul. Pulawska 2
                02-566 Warszawa
            </div>
            <div style="font-family:Calibri;padding-bottom:0px;padding-top:2px;font-weight:underline;font-size:11px;color:blue;">
                www.zerochaos.com
                support_poland@zerochaos.com
            </div>
        </div>
        <div style="y:12;x:0;vertical-align:top;width:0;text-align:left;">
            <table>
                <tr>
                    <td style="width:280px;">Faktura</td>
                </tr>
                <tr>
                    <td style="width:280px;">Oryginał / Kopia</td>
                </tr>
                <tr>
                    <td style="width:280px;">Nabywca:</td>
                </tr>
                <tr>
                    <td style="width:180px;">International Paper Polska Sp. z o.o.</td>
                    <td style="width:180px;">Lubicz 23</td>
                    <td style="width:180px;"></td>
                    <td style="width:180px;">Kraków PL, 31-503</td>
                </tr>
                <tr>
                    <td style="width:180px;">Polska</td>
                </tr>
                <tr>
                    <td style="width:180px;">PL5992707690</td>
                </tr>
                <tr>
                    <td style="width:150px;">Numer faktury:</td>
                    <td style="width:170px;">ZCCINTP000000009</td>
                </tr>
                <tr>
                    <td style="width:150px;">Numer klienta:</td>
                    <td style="width:170px;">487</td>
                </tr>
                <tr>
                    <td style="width:150px;">Data sprzedaży:</td>
                    <td style="width:170px;">2013-06-30</td>
                </tr>
                <tr>
                    <td style="width:150px;">Data wystawienia:</td>
                    <td style="width:170px;">2013-07-08</td>
                </tr>
                <tr>
                    <td style="width:185px;">Nasze dane</td>
                    <td style="width:140px;font-size:9px;"></td>
                </tr>
                <tr>
                    <td style="width:185px;">Warunki płatności:</td>
                    <td style="width:140px;font-size:9px;">14</td>
                </tr>
                <tr>
                    <td style="width:185px;">Termin płatności:</td>
                    <td style="width:140px;font-size:9px;">013-07-22</td>
                </tr>
                <tr>
                    <td style="width:185px;"> </td>
                    <td style="width:140px;font-family:Calibri;font-size:11px;"> </td>
                </tr>
                <tr>
                    <td style="width:366px;">Państwa dane:</td>
                    <td style="width:325px;"></td>
                </tr>
                <tr>
                    <td style="width:366px;">Numer Państwa zamówienia:</td>
                    <td style="width:325px;"></td>
                </tr>
            </table>
        </div>
    
</div>
