@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Description</label>
                </th>
                <th style="width:118px;">
                    <label>Units</label>
                </th>
                <th style="width:135px;">
                    <label>Unit Price</label>
                </th>
                <th style="width:120px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
           
              <tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962729] 
Ali Asim
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 75.00
</td>
<td style="width:120px;">
USD 1,800.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4970093]
Altenor Emmanuel
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 21.60
</td>
<td style="width:120px;">
USD 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962031]
Altman Sharon
</td>
<td style="width:118px;">
10.00
</td>
<td style="width:135px;">
USD 36.00
</td>
<td style="width:120px;">
USD 360.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965673]
Atkinson Marc
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 18.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4967702]
Barbieri Miguel
</td>
<td style="width:118px;">
26.00
</td>
<td style="width:135px;">
USD 34.50
</td>
<td style="width:120px;">
USD 897.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968388]
Barr Ron
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 115.00
</td>
<td style="width:120px;">
USD 3,680.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4970697]
Beal Jonathan
</td>
<td style="width:118px;">
9.00
</td>
<td style="width:135px;">
USD 65.00
</td>
<td style="width:120px;">
USD 585.00
</td>
</tr>

<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968369]
Bhimana VV SaiKrishna
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 95.00
</td>
<td style="width:120px;">
USD 2,280.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4971104]
Block Emily
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 18.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962633]
Borchik Lindsay
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 95.00
</td>
<td style="width:120px;">
USD 2,280.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968699]
Brown Shawn
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 113.98
</td>
<td style="width:120px;">
USD 2,735.52
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4971140]
Cameron Nicholas
</td>
<td style="width:118px;">
5.50
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 176.55
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4966126]
Charles Cliff
</td>
<td style="width:118px;">
2.25
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 72.23
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4966126]
Charles Cliff
</td>
<td style="width:118px;">
2.25
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 72.23
</td>
</tr>

<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4966105]
Charles Cliff
</td>
<td style="width:118px;">
8.50
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 272.85
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4966105]
Charles Cliff
</td>
<td style="width:118px;">
12.25
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 393.23
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965542]
Cho Angela
</td>
<td style="width:118px;">
21.00
</td>
<td style="width:135px;">
USD 105.75
</td>
<td style="width:120px;">
USD 2,220.75
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4947066]
Cho Angela
</td>
<td style="width:118px;">
14.50
</td>
<td style="width:135px;">
USD 105.75
</td>
<td style="width:120px;">
USD 1,533.38
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968679]
Cumalander Eric
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 92.00
</td>
<td style="width:120px;">
USD 2,208.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4957425]
Dennis Benjamin
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 24.00
</td>
<td style="width:120px;">
USD 576.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964535]
Desai Ankita
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 90.00
</td>
<td style="width:120px;">
USD 2,160.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4957562]
Devine Joseph
</td>
<td style="width:118px;">
15.25
</td>
<td style="width:135px;">
USD 24.00
</td>
<td style="width:120px;">
USD 366.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962377]
Dorson Tyler
</td>
<td style="width:118px;">
8.00
</td>
<td style="width:135px;">
USD 26.40
</td>
<td style="width:120px;">
USD 211.20
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4936531]
Escamilla Mauricio
</td>
<td style="width:118px;">
14.00
</td>
<td style="width:135px;">
USD 27.60
</td>
<td style="width:120px;">
USD 386.40
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4954533]
Escamilla Mauricio
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 27.60
</td>
<td style="width:120px;">
USD 662.40
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4952277]
Fantroy Sakina
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 40.00
</td>
<td style="width:120px;">
USD 960.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4947107]
Farrant Alistair
</td>
<td style="width:118px;">
0.50
</td>
<td style="width:135px;">
USD 12.00
</td>
<td style="width:120px;">
USD 6.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4957126]
Farrant Alistair
</td>
<td style="width:118px;">
14.50
</td>
<td style="width:135px;">
USD 12.00
</td>
<td style="width:120px;">
USD 174.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4967473]
Felber Susie
</td>
<td style="width:118px;">
22.00
</td>
<td style="width:135px;">
USD 95.00
</td>
<td style="width:120px;">
USD 2,090.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962289]
Fico Matthew
</td>
<td style="width:118px;">
26.50
</td>
<td style="width:135px;">
USD 32.00
</td>
<td style="width:120px;">
USD 848.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964921]
Figueroa Michelle
</td>
<td style="width:118px;">
19.00
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 609.90
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964921]
Figueroa Michelle
</td>
<td style="width:118px;">
7.00
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 224.70
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964921]
Figueroa Michelle
</td>
<td style="width:118px;">
6.50
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 208.65
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4952145]
Fox Samantha
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 54.00
</td>
<td style="width:120px;">
USD 1,728.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968803]
Fraiberg Jordanna
</td>
<td style="width:118px;">
37.50
</td>
<td style="width:135px;">
USD 116.50
</td>
<td style="width:120px;">
USD 4,368.75
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular Time: 2014-12-29 to 2015-01-04
[4964546] Gainer Nichelle
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 21.60
</td>
<td style="width:120px;">
USD 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4969668]
Gallagher Andrew
</td>
<td style="width:118px;">
40.00
</td>
<td style="width:135px;">
USD 36.00
</td>
<td style="width:120px;">
USD 1,440.00
</td>
</tr>
<tr>
<td style="width:250px;">
Overtime WC (not in use): 2014-12-29 to
2015-01-04 [4969668] Gallagher Andrew
</td>
<td style="width:118px;">
8.00
</td>
<td style="width:135px;">
USD 54.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962183]
Garber Louis
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 125.00
</td>
<td style="width:120px;">
USD 3,000.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964541]
Ghersini Alexander
</td>
<td style="width:118px;">
11.50
</td>
<td style="width:135px;">
USD 37.46
</td>
<td style="width:120px;">
USD 430.79
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964541]
Ghersini Alexander
</td>
<td style="width:118px;">
8.00
</td>
<td style="width:135px;">
USD 37.46
</td>
<td style="width:120px;">
USD 299.68
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964541]
Ghersini Alexander
</td>
<td style="width:118px;">
6.00
</td>
<td style="width:135px;">
USD 37.46
</td>
<td style="width:120px;">
USD 224.76
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4973446]
Gonzalez Paul
</td>
<td style="width:118px;">
25.00
</td>
<td style="width:135px;">
USD 98.00
</td>
<td style="width:120px;">
USD 2,450.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4972913]
Gordh Cody
</td>
<td style="width:118px;">
40.00
</td>
<td style="width:135px;">
USD 42.00
</td>
<td style="width:120px;">
USD 1,680.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4978054]
Green Sara
</td>
<td style="width:118px;">
25.00
</td>
<td style="width:135px;">
USD 23.00
</td>
<td style="width:120px;">
USD 575.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4967858]
Grow-Nyberg Laura
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 21.60
</td>
<td style="width:120px;">
USD 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4971783]
Hackney Ian
</td>
<td style="width:118px;">
12.00
</td>
<td style="width:135px;">
USD 37.46
</td>
<td style="width:120px;">
USD 449.52
</td>
</tr>
<tr>
<td style="width:250px;">
Sick Time (B): 2014-12-29 to 2015-01-04
[4971783] Hackney Ian
</td>
<td style="width:118px;">
5.25
</td>
<td style="width:135px;">
USD 37.47
</td>
<td style="width:120px;">
USD 196.72
</td>
</tr>
<tr>
<td style="width:250px;">
Sick Time (B): 2014-12-29 to 2015-01-04
[4971783] Hackney Ian
</td>
<td style="width:118px;">
5.50
</td>
<td style="width:135px;">
USD 37.47
</td>
<td style="width:120px;">
USD 206.09
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Sick Time (B): 2014-12-29 to 2015-01-04[4971783] 
Hackney Ian
</td>
<td style="width:118px;">
15.50
</td>
<td style="width:135px;">
USD 37.47
</td>
<td style="width:120px;">
USD 580.79
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962322]
Heary Sean
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 30.00
</td>
<td style="width:120px;">
USD 720.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4970853]
Herring Richard
</td>
<td style="width:118px;">
27.00
</td>
<td style="width:135px;">
USD 109.00
</td>
<td style="width:120px;">
USD 2,943.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968177]
Howard Kim
</td>
<td style="width:118px;">
16.00
</td>
<td style="width:135px;">
USD 70.50
</td>
<td style="width:120px;">
USD 1,128.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968692] 
Ibe Odochi
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 21.60
</td>
<td style="width:120px;">
USD 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4953967] 
Im Young
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 110.00
</td>
<td style="width:120px;">
USD 2,640.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4967973]
Imbemba Danielle
</td>
<td style="width:118px;">
17.00
</td>
<td style="width:135px;">
USD 36.00
</td>
<td style="width:120px;">
USD 612.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964083]
Jewel Jamil
</td>
<td style="width:118px;">
36.00
</td>
<td style="width:135px;">
USD 76.38
</td>
<td style="width:120px;">
USD 2,749.68
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4964728]
Jung Hun
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 75.00
</td>
<td style="width:120px;">
USD 1,800.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4957268]
Kim Tim
</td>
<td style="width:118px;">
23.50
</td>
<td style="width:135px;">
USD 27.60
</td>
<td style="width:120px;">
USD 648.60
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2014-12-30 [4974231]
Lopez Carlos
</td>
<td style="width:118px;">
18.00
</td>
<td style="width:135px;">
USD 95.00
</td>
<td style="width:120px;">
USD 1,710.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4963789]
Lozano Alexander
</td>
<td style="width:118px;">
34.35
</td>
<td style="width:135px;">
USD 73.00
</td>
<td style="width:120px;">
USD 2,507.55
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4969423]
Macchione Michael
</td>
<td style="width:118px;">
22.50
</td>
<td style="width:135px;">
USD 120.00
</td>
<td style="width:120px;">
USD 2,700.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968227]
Marchese Jamey
</td>
<td style="width:118px;">
23.00
</td>
<td style="width:135px;">
USD 94.00
</td>
<td style="width:120px;">
USD 2,162.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4973933]
MIKI ARNDT STEPHANIE
</td>
<td style="width:118px;">
16.00
</td>
<td style="width:135px;">
USD 80.00
</td>
<td style="width:120px;">
USD 1,280.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4978055]
Monastyrskaya Olga
</td>
<td style="width:118px;">
21.00
</td>
<td style="width:135px;">
USD 100.00
</td>
<td style="width:120px;">
USD 2,100.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968721]
Morris Matthew
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 32.40
</td>
<td style="width:120px;">
USD 1,036.80
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4956735]
Murdock Maurice
</td>
<td style="width:118px;">
20.50
</td>
<td style="width:135px;">
USD 90.00
</td>
<td style="width:120px;">
USD 1,845.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4970278]
Naik Urmila
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 18.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4954405]
Neufeld Thomas
</td>
<td style="width:118px;">
22.00
</td>
<td style="width:135px;">
USD 99.88
</td>
<td style="width:120px;">
USD 2,197.36
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968149]
Noli Jonathan
</td>
<td style="width:118px;">
34.00
</td>
<td style="width:135px;">
USD 94.00
</td>
<td style="width:120px;">
USD 3,196.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968138]
Ochel Colin
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 115.00
</td>
<td style="width:120px;">
USD 3,680.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968500]
Okin Jordana
</td>
<td style="width:118px;">
29.00
</td>
<td style="width:135px;">
USD 44.00
</td>
<td style="width:120px;">
USD 1,276.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965139]
Parimi Vivek
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 130.00
</td>
<td style="width:120px;">
USD 3,120.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4961725]
Patten Dhajja
</td>
<td style="width:118px;">
21.50
</td>
<td style="width:135px;">
USD 24.33
</td>
<td style="width:120px;">
USD 523.10
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965037]
Perillo Robert
</td>
<td style="width:118px;">
23.00
</td>
<td style="width:135px;">
USD 25.20
</td>
<td style="width:120px;">
USD 579.60
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968959]
Perlera Regy
</td>
<td style="width:118px;">
23.00
</td>
<td style="width:135px;">
USD 94.00
</td>
<td style="width:120px;">
USD 2,162.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4956616]
Phillips Forrest
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 18.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-03 [4964149]
Potter Patrick
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 175.00
</td>
<td style="width:120px;">
USD 4,200.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968412]
Ramirez Jorge
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 140.00
</td>
<td style="width:120px;">
USD 4,480.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4970983]
Rogala Jesse
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 24.00
</td>
<td style="width:120px;">
USD 576.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4967459]
Roll Kevin
</td>
<td style="width:118px;">
22.00
</td>
<td style="width:135px;">
USD 127.32
</td>
<td style="width:120px;">
USD 2,801.04
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4967459]
Roll Kevin
</td>
<td style="width:118px;">
3.00
</td>
<td style="width:135px;">
USD 127.32
</td>
<td style="width:120px;">
USD 381.96
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4953346]
Sams Joe
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 18.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4973127]
Scheiner Joshua
</td>
<td style="width:118px;">
0.50
</td>
<td style="width:135px;">
USD 54.00
</td>
<td style="width:120px;">
USD 27.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4973131]
Schwerin Michael
</td>
<td style="width:118px;">
3.00
</td>
<td style="width:135px;">
USD 55.00
</td>
<td style="width:120px;">
USD 165.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968296]
Selvaraj Sudhakar
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 150.00
</td>
<td style="width:120px;">
USD 3,600.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4957056]
Simon Marie
</td>
<td style="width:118px;">
22.50
</td>
<td style="width:135px;">
USD 47.00
</td>
<td style="width:120px;">
USD 1,057.50
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2014-12-31 [4962063]
Singaseni Rajiv
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 125.00
</td>
<td style="width:120px;">
USD 3,000.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962270]
Sinha Nidhi
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 100.00
</td>
<td style="width:120px;">
USD 2,400.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4961989]
Sivasubiramanian Thiyaharajan
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 115.00
</td>
<td style="width:120px;">
USD 2,760.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4969649]
Solorz Brendan
</td>
<td style="width:118px;">
29.00
</td>
<td style="width:135px;">
USD 32.40
</td>
<td style="width:120px;">
USD 939.60
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4952070]
Spiegel Lauren
</td>
<td style="width:118px;">
26.00
</td>
<td style="width:135px;">
USD 36.00
</td>
<td style="width:120px;">
USD 936.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968392]
Stalnaker Brandon
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 125.00
</td>
<td style="width:120px;">
USD 3,000.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4969110]
Stoj Roger
</td>
<td style="width:118px;">
10.00
</td>
<td style="width:135px;">
USD 96.00
</td>
<td style="width:120px;">
USD 960.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4954324]
Stolzman Noah
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 18.00
</td>
<td style="width:120px;">
USD 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Overtime: 2014-12-29 to 2015-01-04 [4954324]
Stolzman Noah
</td>
<td style="width:118px;">
0.75
</td>
<td style="width:135px;">
USD 27.00
</td>
<td style="width:120px;">
USD 20.25
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4954579]
Timberlake James
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 130.00
</td>
<td style="width:120px;">
USD 3,120.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968791]
Timberlake James
</td>
<td style="width:118px;">
24.00
</td>
<td style="width:135px;">
USD 130.00
</td>
<td style="width:120px;">
USD 3,120.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4962286]
Toots Cynthia
</td>
<td style="width:118px;">
29.00
</td>
<td style="width:135px;">
USD 55.00
</td>
<td style="width:120px;">
USD 1,595.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965383]
Trenis Bryan
</td>
<td style="width:118px;">
13.50
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 433.35
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965071]
Von Brandis Annette
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 72.00
</td>
<td style="width:120px;">
USD 2,304.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4974170]
Warner Timothy
</td>
<td style="width:118px;">
9.50
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 304.95
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4974170]
Warner Timothy
</td>
<td style="width:118px;">
2.00
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 64.20
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-22 to 2014-12-28 [4974170]
Warner Timothy
</td>
<td style="width:118px;">
5.25
</td>
<td style="width:135px;">
USD 32.10
</td>
<td style="width:120px;">
USD 168.53
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4965509]
Weinbrenner Carlo
</td>
<td style="width:118px;">
23.00
</td>
<td style="width:135px;">
USD 115.00
</td>
<td style="width:120px;">
USD 2,645.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">

</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4963773]
Wheeler-Rappe John
</td>
<td style="width:118px;">
25.00
</td>
<td style="width:135px;">
USD 75.00
</td>
<td style="width:120px;">
USD 1,875.00
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2014-12-29 to 2015-01-04 [4968630]
Yuskis Abigail
</td>
<td style="width:118px;">
32.00
</td>
<td style="width:135px;">
USD 75.00
</td>
<td style="width:120px;">
USD 2,400.00
</td>
</tr>

					
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
     <table>
        <tbody>
          
                <tr>
                    <td style="width:250px;">
                        Net
                    </td>
                    <td style="width:85px;">
                        VAT%
                    </td>
                    <td style="width:200px;">
                        VAT Amt
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                        USD 161,706.51
                    </td>
                    <td style="width:85px;">
                        0.00 %
                    </td>
                    <td style="width:200px;">
                        USD 0.00
                    </td>
                </tr>
     
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
          
                <tr>
                    <td style="width:149px;">
                        To Pay
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                        USD 161,706.51
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;">
                    </td>
                </tr>
  
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   </div>
