@using System.Data;
@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            Intermediary Bank:
        </label>
        <label>
            Skandinaviska Enskilda Banken AB
        </label>
        <label>
            Intermediary Bank BIC:
        </label>
        <label>
            ESSEDKKK
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        <label>
            IBAN:
        </label>
        <label>
            DK0452950017003887
        </label>
        <label>
            Beneficiary Name:
        </label>
        <label>
            PNC Bank N.A.
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Payment Delivery Method:
        Wire Transfer with MT103 SWIFT
        Stating Final Beneficiary
        Information
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Final Beneficiary Name:
        APC Workforce Solutions, LLC
        Final Beneficiary Account:
        60800001002445
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            Address
        </label>
        <label>
            Bygstubben 5
        </label>
        <label>
            2950
        </label>
        <label>
            Vedbaek Denmark
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            This invoice has been assigned and charged as security to PNC Bank,
        </label>
        <label>
            National Association and others represented by PNC Bank,
        </label>
        <label>
            National Association. You will be discharged only by payment to 
        </label>
        <label>
            PNC Bank, National Association's account with Skandinaviska 
        </label>
        <label>
            Enskilda Bank account no. DK0452950017003887 together with a
        </label>
        <label>
            reference to sub-account no.7810026351.
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Internet address
        <u>www.zerochaos.com</u>
        DK29770859
        ZeroChaos
    </div>
</div>
