@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            Beneficiary Name: PNC Bank N.A.
        </label>
        <label>
            SWIFT: DEUTDEFF
        </label>
        <label>
            IBAN: DE94500700100958687608
        </label>
        <label>
            Bank Transit: //BL50070010
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        <label>
            Bank Address:
        </label>
        <label>
            Deutsche Bank AG Taunusanlage 12,
        </label>
        <label>
            60325 Frankfurt am Main, Germany
        </label>
        <label>
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        Final Beneficiary Name: ZeroChaos
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            ZeroChaos Deutschland GmbH
        </label>
        <label>
            An der Welle 4
        </label>
        <label>
            60322 Frankfurt
        </label>
        <label>
            Germany
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            <u>accountingopseu@zerochaos.com</u>
        </label>
        <label>
        </label>
        <label>
            Amtsgericht Frankfurt am Main HRB 101094
        </label>
        <label>
            USt.-ID Nr. DE 269 594 030
        </label>
    </div>
</div>
