@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:100px;">
                    <label>Name</label>
                </th>
                <th style="width:310px;">
                    <label>Description</label>
                </th>
                <th style="width:100px;">
                    <label>Approval Manager</label>
                </th>
                <th style="width:65px;">
                    <label>Approval Date</label>
                </th>
                <th style="width:80px;">
                    <label>PO Number</label>
                </th>
                <th style="width:67px;">
                    <label>Province</label>
                </th>
                <th style="width:60px;">
                    <label>Qty</label>
                </th>
                <th style="width:55px;">
                    <label>Units</label>
                </th>
                <th style="width:65px;">
                    <label>Rate</label>
                </th>
                <th style="width:80px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
           
               <tr>
<td style="width:100px;">
Atteia Mahdi	
</td>
<td style="width:310px;">
	5.00% GST [7114334]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$262.50	
</td>
<td style="width:80px;">
	$262.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Atteia Mahdi	
</td>
<td style="width:310px;">
	Overtime - 91916 - CDB-CAN-CWK-CST-STEI-SR: 9/18/2016 to 9/24/2016 [7114334]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	10.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$105.00	
</td>
<td style="width:80px;">
	$1050.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Atteia Mahdi	
</td>
<td style="width:310px;">
	Regular Time - 91916 - CDB-CAN-CWK-CST-STEI-SR: 9/18/2016 to 9/24/2016 [7114334]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	40.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$105.00	
</td>
<td style="width:80px;">
	$4200.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Avramovic Dusko	
</td>
<td style="width:310px;">
	5.00% GST [7114340]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$228.00	
</td>
<td style="width:80px;">
	$228.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Avramovic Dusko	
</td>
<td style="width:310px;">
	Regular Time - 93250 - CDB-CAN-CWK-SIQA: 9/18/2016 to 9/24/2016 [7114340]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	40.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$114.00	
</td>
<td style="width:80px;">
	$4560.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Bellavance Denis	
</td>
<td style="width:310px;">
	5.00% GST [7114333]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$243.56	
</td>
<td style="width:80px;">
	$243.56	
</td>
</tr>
<tr>
<td style="width:100px;">
Bellavance Denis	
</td>
<td style="width:310px;">
	Regular Time - 86342 - 08CDB.EPC.005: 9/18/2016 to 9/24/2016 [7114333]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	10.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$121.78	
</td>
<td style="width:80px;">
	$1217.80	
</td>
</tr>
<tr>
<td style="width:100px;">
Bellavance Denis	
</td>
<td style="width:310px;">
	Regular Time - 91699 - CDB-CAN-CWK-CST-STEI-SR.L: 9/18/2016 to 9/24/2016 [7114333]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	30.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$121.78	
</td>
<td style="width:80px;">
	$3653.40	
</td>
</tr>
<tr>
<td style="width:100px;">
Boote Patrick	
</td>
<td style="width:310px;">
	5.00% GST [7114344]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$253.00	
</td>
<td style="width:80px;">
	$253.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Boote Patrick	
</td>
<td style="width:310px;">
	Regular Time - 94300 - CDB-CAN-CWK-SIQA: 9/18/2016 to 9/24/2016 [7114344]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	40.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$126.50	
</td>
<td style="width:80px;">
	$5060.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Bustamante Frank	
</td>
<td style="width:310px;">
	5.00% GST [7114327]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$240.00	
</td>
<td style="width:80px;">
	$240.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Bustamante Frank	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114327]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	24.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$2880.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Bustamante Frank	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.01.1: 9/18/2016 to 9/24/2016 [7114327]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$480.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Bustamante Frank	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114327]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$480.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Bustamante Frank	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.04: 9/18/2016 to 9/24/2016 [7114327]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$960.00	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	5.00% GST [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$250.03	
</td>
<td style="width:80px;">
	$250.03	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 03CDB.PMO.008: 9/18/2016 to 9/24/2016 [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	12.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$1644.00	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 06TND.TLN.OH.1.1: 9/18/2016 to 9/24/2016 [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	10.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$1370.00	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 06TND.TLN.OH.1.2: 9/18/2016 to 9/24/2016 [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	7.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$1027.50	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 06TND.TLN.OH.1.3: 9/18/2016 to 9/24/2016 [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$342.50	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 08CAN.PMO.008: 9/18/2016 to 9/24/2016 [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$274.00	
</td>
</tr>
<tr>
<td style="width:100px;">
D'Souza Fred	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.PMO.008: 9/18/2016 to 9/24/2016 [7114332]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$342.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	5.00% GST [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$276.00	
</td>
<td style="width:80px;">
	$276.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	Overtime - 84179 - 08CAN.PMO.005: 9/18/2016 to 9/24/2016 [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	6.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$720.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 03CDB.PMO.005: 9/18/2016 to 9/24/2016 [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	10.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$1200.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	Regular Time - 83992 - 08CAN.PMO.005: 9/18/2016 to 9/24/2016 [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$480.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 08CAN.PMO.005: 9/18/2016 to 9/24/2016 [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	19.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$2280.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.PMO.005: 9/18/2016 to 9/24/2016 [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	3.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$360.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Dugas Gerry	
</td>
<td style="width:310px;">
	Regular Time - 85303 - 09CAN.PMO.005: 9/18/2016 to 9/24/2016 [7114319]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$120.00	
</td>
<td style="width:80px;">
	$480.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	5.00% GST [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$202.00	
</td>
<td style="width:80px;">
	$202.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	Regular Time - 83992 - 08CAN.PMO.003: 9/18/2016 to 9/24/2016 [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$101.00	
</td>
<td style="width:80px;">
	$808.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 08CAN.PMO.003: 9/18/2016 to 9/24/2016 [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$101.00	
</td>
<td style="width:80px;">
	$808.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.PMO.003: 9/18/2016 to 9/24/2016 [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	11.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$101.00	
</td>
<td style="width:80px;">
	$1111.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	Regular Time - 85303 - 09CAN.PMO.003: 9/18/2016 to 9/24/2016 [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$101.00	
</td>
<td style="width:80px;">
	$505.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	Regular Time - 85334 - 10CDB.PMO.003: 9/18/2016 to 9/24/2016 [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	3.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$101.00	
</td>
<td style="width:80px;">
	$303.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Gill Rajinder	
</td>
<td style="width:310px;">
	Regular Time - 86342 - 08CDB.PMO.003: 9/18/2016 to 9/24/2016 [7114321]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$101.00	
</td>
<td style="width:80px;">
	$505.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Goodfellow James	
</td>
<td style="width:310px;">
	5.00% GST [7114346]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$63.14	
</td>
<td style="width:80px;">
	$63.14	
</td>
</tr>
<tr>
<td style="width:100px;">
Goodfellow James	
</td>
<td style="width:310px;">
	Regular Time - 94501 - CDB-CAN-CWK-SIQA: 9/18/2016 to 9/24/2016 [7114346]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	10.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$126.27	
</td>
<td style="width:80px;">
	$1262.70	
</td>
</tr>
<tr>
<td style="width:100px;">
He Chuan	
</td>
<td style="width:310px;">
	5.00% GST [7114348]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$173.84	
</td>
<td style="width:80px;">
	$173.84	
</td>
</tr>
<tr>
<td style="width:100px;">
He Chuan	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114348]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	40.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$86.92	
</td>
<td style="width:80px;">
	$3476.80	
</td>
</tr>
<tr>
<td style="width:100px;">
Henrion David	
</td>
<td style="width:310px;">
	5.00% GST [7114323]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$541.67	
</td>
<td style="width:80px;">
	$541.67	
</td>
</tr>
<tr>
<td style="width:100px;">
Henrion David	
</td>
<td style="width:310px;">
	Overtime - 85303 - 09CAN.CDB.500.005: 9/18/2016 to 9/24/2016 [7114323]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	44.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$128.97	
</td>
<td style="width:80px;">
	$5674.68	
</td>
</tr>
<tr>
<td style="width:100px;">
Henrion David	
</td>
<td style="width:310px;">
	Regular Time - 85303 - 09CAN.CDB.500.005: 9/18/2016 to 9/24/2016 [7114323]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	40.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$128.97	
</td>
<td style="width:80px;">
	$5158.80	
</td>
</tr>
<tr>
<td style="width:100px;">
Iqbal Syed	
</td>
<td style="width:310px;">
	5.00% GST [7114320]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$328.80	
</td>
<td style="width:80px;">
	$328.80	
</td>
</tr>
<tr>
<td style="width:100px;">
Iqbal Syed	
</td>
<td style="width:310px;">
	Overtime - 85303 - 09CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114320]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$1096.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Iqbal Syed	
</td>
<td style="width:310px;">
	Regular Time - 85303 - 09CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114320]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	21.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$2877.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Iqbal Syed	
</td>
<td style="width:310px;">
	Regular Time - 86342 - 08CDB.PMO.001: 9/18/2016 to 9/24/2016 [7114320]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$2192.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Iqbal Syed	
</td>
<td style="width:310px;">
	Regular Time - 90734 - 02CDB.PMO.6159: 9/18/2016 to 9/24/2016 [7114320]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$274.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Iqbal Syed	
</td>
<td style="width:310px;">
	Regular Time - 92126 - 01CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114320]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$137.00	
</td>
<td style="width:80px;">
	$137.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Kats Alexander	
</td>
<td style="width:310px;">
	5.00% GST [7114341]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$270.75	
</td>
<td style="width:80px;">
	$270.75	
</td>
</tr>
<tr>
<td style="width:100px;">
Kats Alexander	
</td>
<td style="width:310px;">
	Overtime - 92244 - CDB-CAN-CWK-SIQA: 9/18/2016 to 9/24/2016 [7114341]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	17.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$95.00	
</td>
<td style="width:80px;">
	$1615.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Kats Alexander	
</td>
<td style="width:310px;">
	Regular Time - 91693 - CDB-CAN-CWK-CST-STEI-SR.L: 9/18/2016 to 9/24/2016 [7114341]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	19.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$95.00	
</td>
<td style="width:80px;">
	$1805.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Kats Alexander	
</td>
<td style="width:310px;">
	Regular Time - 92244 - CDB-CAN-CWK-SIQA: 9/18/2016 to 9/24/2016 [7114341]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	21.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$95.00	
</td>
<td style="width:80px;">
	$1995.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	5.00% GST [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$279.00	
</td>
<td style="width:80px;">
	$279.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	Overtime - 93132 - CDB-CAN-CWK-EVMS: 9/18/2016 to 9/24/2016 [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$124.00	
</td>
<td style="width:80px;">
	$124.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	Overtime - 93132 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$124.00	
</td>
<td style="width:80px;">
	$496.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-EVMS: 9/18/2016 to 9/24/2016 [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$124.00	
</td>
<td style="width:80px;">
	$620.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	25.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$124.00	
</td>
<td style="width:80px;">
	$3100.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	Regular Time - 93132 - CDB-CAN-CWK-EVMS: 9/18/2016 to 9/24/2016 [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$124.00	
</td>
<td style="width:80px;">
	$124.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Khodadadi Arash	
</td>
<td style="width:310px;">
	Regular Time - 93132 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114337]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	9.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$124.00	
</td>
<td style="width:80px;">
	$1116.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Larcena Joey	
</td>
<td style="width:310px;">
	5.00% GST [7114342]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$220.00	
</td>
<td style="width:80px;">
	$220.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Larcena Joey	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114342]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	40.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$110.00	
</td>
<td style="width:80px;">
	$4400.00	
</td>
</tr>
<tr>
<td style="width:100px;">
McFee Alycia	
</td>
<td style="width:310px;">
	5.00% GST [7114347]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$70.00	
</td>
<td style="width:80px;">
	$70.00	
</td>
</tr>
<tr>
<td style="width:100px;">
McFee Alycia	
</td>
<td style="width:310px;">
	Regular Time - 721 - 1.01: 9/18/2016 to 9/24/2016 [7114347]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	25.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$35.00	
</td>
<td style="width:80px;">
	$892.50	
</td>
</tr>
<tr>
<td style="width:100px;">
McFee Alycia	
</td>
<td style="width:310px;">
	Regular Time - 83992 - 08CAN.PMO.002: 9/18/2016 to 9/24/2016 [7114347]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	9.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$35.00	
</td>
<td style="width:80px;">
	$315.00	
</td>
</tr>
<tr>
<td style="width:100px;">
McFee Alycia	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 08CAN.PMO.002: 9/18/2016 to 9/24/2016 [7114347]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	3.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$35.00	
</td>
<td style="width:80px;">
	$105.00	
</td>
</tr>
<tr>
<td style="width:100px;">
McFee Alycia	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.PMO.002: 9/18/2016 to 9/24/2016 [7114347]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$35.00	
</td>
<td style="width:80px;">
	$87.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Morales Juan	
</td>
<td style="width:310px;">
	5.00% GST [7114338]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$111.24	
</td>
<td style="width:80px;">
	$111.24	
</td>
</tr>
<tr>
<td style="width:100px;">
Morales Juan	
</td>
<td style="width:310px;">
	Regular Time - 722 - 2.01: 2016-09-18 to 2016-09-24 [7114338]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	12.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$55.62	
</td>
<td style="width:80px;">
	$667.44	
</td>
</tr>
<tr>
<td style="width:100px;">
Morales Juan	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 06TND.TLN.OH.1.1: 2016-09-18 to 2016-09-24 [7114338]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$55.62	
</td>
<td style="width:80px;">
	$889.92	
</td>
</tr>
<tr>
<td style="width:100px;">
Morales Juan	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 06TND.TLN.OH.1.2: 2016-09-18 to 2016-09-24 [7114338]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$55.62	
</td>
<td style="width:80px;">
	$444.96	
</td>
</tr>
<tr>
<td style="width:100px;">
Morales Juan	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 06TND.TLN.OH.1.3: 2016-09-18 to 2016-09-24 [7114338]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$55.62	
</td>
<td style="width:80px;">
	$222.48	
</td>
</tr>
<tr>
<td style="width:100px;">
Morrison Drew	
</td>
<td style="width:310px;">
	5.00% GST [7114322]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$229.24	
</td>
<td style="width:80px;">
	$229.24	
</td>
</tr>
<tr>
<td style="width:100px;">
Morrison Drew	
</td>
<td style="width:310px;">
	Overtime - 83992 - 08CAN.EPC.005: 9/18/2016 to 9/24/2016 [7114322]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$197.11	
</td>
<td style="width:80px;">
	$788.44	
</td>
</tr>
<tr>
<td style="width:100px;">
Morrison Drew	
</td>
<td style="width:310px;">
	Regular Time - 83992 - 08CAN.EPC.005: 9/18/2016 to 9/24/2016 [7114322]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	26.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$146.01	
</td>
<td style="width:80px;">
	$3796.26	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	5.00% GST [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$230.55	
</td>
<td style="width:80px;">
	$230.55	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Overtime - 750 - 10.04.001: 9/18/2016 to 9/24/2016 [7114345] 	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$87.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Overtime - 83992 - 08ESP.CAN.007: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$739.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Overtime - 84178 - 08ESP.CAN.007: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$130.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Overtime - 84179 - 08ESP.CAN.007: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$174.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Regular Time - 721 - 1.01: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$435.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Regular Time - 750 - 10.01: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	9.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$783.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Regular Time - 750 - 10.04.001: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$348.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 08ESP.CAN.007: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	9.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$783.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08ESP.CAN.007: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$696.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Oladiran Ayo	
</td>
<td style="width:310px;">
	Regular Time - 91891 - 03CDB.PMO.7300: 9/18/2016 to 9/24/2016 [7114345]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.00	
</td>
<td style="width:80px;">
	$435.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	5.00% GST [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$368.75	
</td>
<td style="width:80px;">
	$368.75	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Overtime - 84178 - 08CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$737.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Overtime - 84179 - 08CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$737.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Regular Time - 83992 - 08CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	5.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$737.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 08CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$2360.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$2360.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Regular Time - 88058 - 08TND.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$295.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Pais Aaron	
</td>
<td style="width:310px;">
	Regular Time - 88091 - 08CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114325]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$147.50	
</td>
<td style="width:80px;">
	$147.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	5.00% GST [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$116.98	
</td>
<td style="width:80px;">
	$116.98	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 76020 - 09CAN.PMO.003.1: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$129.98	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 03CDB.PMO.003: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$519.92	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 85303 - 09CAN.PMO.003: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	6.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$389.94	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 85334 - 10CDB.PMO.003: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$259.96	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 86342 - 08CDB.PMO.003: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$519.92	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 91891 - 03CDB.PMO.7340: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	6.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$389.94	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 92126 - 01CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$64.99	
</td>
</tr>
<tr>
<td style="width:100px;">
Pittner Tara	
</td>
<td style="width:310px;">
	Regular Time - 92961 - 01CAN.PMO.6107: 9/18/2016 to 9/24/2016 [7114328]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$64.99	
</td>
<td style="width:80px;">
	$64.99	
</td>
</tr>
<tr>
<td style="width:100px;">
Pulagam Sudhakar	
</td>
<td style="width:310px;">
	5.00% GST [7114343]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$247.70	
</td>
<td style="width:80px;">
	$247.70	
</td>
</tr>
<tr>
<td style="width:100px;">
Pulagam Sudhakar	
</td>
<td style="width:310px;">
	Overtime - 92135 - CDB-CAN-CWK-EVMS: 9/18/2016 to 9/24/2016 [7114343]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$112.59	
</td>
<td style="width:80px;">
	$450.36	
</td>
</tr>
<tr>
<td style="width:100px;">
Pulagam Sudhakar	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-EVMS: 9/18/2016 to 9/24/2016 [7114343]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	15.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$112.59	
</td>
<td style="width:80px;">
	$1688.85	
</td>
</tr>
<tr>
<td style="width:100px;">
Pulagam Sudhakar	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114343]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	25.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$112.59	
</td>
<td style="width:80px;">
	$2814.75	
</td>
</tr>
<tr>
<td style="width:100px;">
Reyes Don	
</td>
<td style="width:310px;">
	5.00% GST [7114318]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$174.56	
</td>
<td style="width:80px;">
	$174.56	
</td>
</tr>
<tr>
<td style="width:100px;">
Reyes Don	
</td>
<td style="width:310px;">
	Regular Time - 721 - 1.01: 9/18/2016 to 9/24/2016 [7114318]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	25.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.28	
</td>
<td style="width:80px;">
	$2182.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Reyes Don	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.EPC.005: 9/18/2016 to 9/24/2016 [7114318]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	15.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$87.28	
</td>
<td style="width:80px;">
	$1309.20	
</td>
</tr>
<tr>
<td style="width:100px;">
Secareanu Elena	
</td>
<td style="width:310px;">
	5.00% GST [7114349]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$217.53	
</td>
<td style="width:80px;">
	$217.53	
</td>
</tr>
<tr>
<td style="width:100px;">
Secareanu Elena	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/23/2016 [7114349]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - ON	
</td>
<td style="width:60px;">
	38.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$113.00	
</td>
<td style="width:80px;">
	$4350.50	
</td>
</tr>
<tr>
<td style="width:100px;">
Siddiqui Basil	
</td>
<td style="width:310px;">
	5.00% GST [7114339]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$116.00	
</td>
<td style="width:80px;">
	$116.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Siddiqui Basil	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114339]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$58.00	
</td>
<td style="width:80px;">
	$464.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Siddiqui Basil	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114339]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$58.00	
</td>
<td style="width:80px;">
	$928.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Siddiqui Basil	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.03: 9/18/2016 to 9/24/2016 [7114339]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$58.00	
</td>
<td style="width:80px;">
	$928.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Solanki Mayur	
</td>
<td style="width:310px;">
	5.00% GST [7114330]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$104.00	
</td>
<td style="width:80px;">
	$104.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Solanki Mayur	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114330]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	24.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$52.00	
</td>
<td style="width:80px;">
	$1248.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Solanki Mayur	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.04: 9/18/2016 to 9/24/2016 [7114330]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	16.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$52.00	
</td>
<td style="width:80px;">
	$832.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Upal Ahsan	
</td>
<td style="width:310px;">
	5.00% GST [7114324]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$253.00	
</td>
<td style="width:80px;">
	$253.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Upal Ahsan	
</td>
<td style="width:310px;">
	Regular Time - 750 - 3.01: 9/18/2016 to 9/24/2016 [7114324]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	34.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$126.50	
</td>
<td style="width:80px;">
	$4301.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Upal Ahsan	
</td>
<td style="width:310px;">
	Regular Time - 750 - 3.04.001: 9/18/2016 to 9/24/2016 [7114324]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	6.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$126.50	
</td>
<td style="width:80px;">
	$759.00	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	5.00% GST [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$81.84	
</td>
<td style="width:80px;">
	$81.84	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	11.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.92	
</td>
<td style="width:80px;">
	$450.12	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	Regular Time - 84178 - 06CAN.TEL.1: 9/18/2016 to 9/24/2016 [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.92	
</td>
<td style="width:80px;">
	$40.92	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.01: 9/18/2016 to 9/24/2016 [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.92	
</td>
<td style="width:80px;">
	$327.36	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.SUB.04: 9/18/2016 to 9/24/2016 [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	15.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.92	
</td>
<td style="width:80px;">
	$634.26	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.TEL.1: 9/18/2016 to 9/24/2016 [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	3.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.92	
</td>
<td style="width:80px;">
	$122.76	
</td>
</tr>
<tr>
<td style="width:100px;">
Wang Baifeng (Bob)	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 06CAN.TEL.2: 9/18/2016 to 9/24/2016 [7114331]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.50		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.92	
</td>
<td style="width:80px;">
	$61.38	
</td>
</tr>
<tr>
<td style="width:100px;">
Whelan Philip	
</td>
<td style="width:310px;">
	5.00% GST [7114326]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$403.36	
</td>
<td style="width:80px;">
	$403.36	
</td>
</tr>
<tr>
<td style="width:100px;">
Whelan Philip	
</td>
<td style="width:310px;">
	Regular Time - 721 - 1.01: 2016-09-18 to 2016-09-24 [7114326] 	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	32.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$201.68	
</td>
<td style="width:80px;">
	$6453.76	
</td>
</tr>
<tr>
<td style="width:100px;">
Whelan Philip	
</td>
<td style="width:310px;">
	Regular Time - 750 - 3.01: 2016-09-18 to 2016-09-24 [7114326]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	8.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$201.68	
</td>
<td style="width:80px;">
	$1613.44	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	5.00% GST [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
		
</td>
<td style="width:65px;">
	$80.46	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 76277 - CDB.222: 9/18/2016 to 9/24/2016 [7114329] 	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$160.92	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 79860 - 03CDB.PMO.002: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 83992 - 08CAN.PMO.002: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 84179 - 08CAN.PMO.002: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	4.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$160.92	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 85303 - 09CAN.PMO.001: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 85334 - 10CDB.PMO.001: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 86342 - 08CDB.PMO.001: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 88058 - 08CDB.PMO.003: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	3.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$120.69	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-EVMS: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-RISK: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 92135 - CDB-CAN-CWK-SCHD: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	2.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$80.46	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 92244 - CDB-CAN-CWK-PMPC: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$40.23	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 93132 - CDB-CAN-CWK-PMPC: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	9.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$362.07	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 93250 - CDB-CAN-CWK-PMPC: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$40.23	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 94300 - CDB-CAN-CWK-PMPC: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$40.23	
</td>
</tr>
<tr>
<td style="width:100px;">
Wyspianski Lindsey	
</td>
<td style="width:310px;">
	Regular Time - 94501 - CDB-CAN-CWK-PMPC: 9/18/2016 to 9/24/2016 [7114329]	
</td>
<td style="width:100px;">
</td>
<td style="width:65px;">
</td>
<td style="width:80px;">
</td>
<td style="width:67px;">
	CAN - AB	
</td>
<td style="width:60px;">
	1.00		
</td>
<td style="width:55px;">
	Hourly	
</td>
<td style="width:65px;">
	$40.23	
</td>
<td style="width:80px;">
	$40.23	
</td>
</tr>

 
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
