@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Benämning</label>
                </th>
                <th style="width:118px;">
                    <label>Lev,Enh.</label>
                </th>
                <th style="width:135px;">
                    <label>à-pris</label>
                </th>
                <th style="width:120px;">
                    <label>Summa</label>
                </th>
            </tr>
        </thead>
        <tbody>
        
               <tr>
<td style="width:250px;">
Invoice Admin Fee [315752] Lindberg Martin 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 800.00 
</td>
<td style="width:120px;">
SEK 800.00
</td>
</tr>
<tr>
<td style="width:250px;">
Other Business Expense - June 14 [315752] Lindberg Martin June 14 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 238.61 
</td>
<td style="width:120px;">
SEK 238.61
</td>
</tr>
<tr>
<td style="width:250px;">
Other Business Expense - June 17 [315752] Lindberg Martin June 17 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 238.61 
</td>
<td style="width:120px;">
SEK 238.61
</td>
</tr>
<tr>
<td style="width:250px;">
Other Business Expense - June 9 [315752] Lindberg Martin June 9 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 238.61 
</td>
<td style="width:120px;">
SEK 238.61
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - CAR June [315752] Lindberg Martin CAR June 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 477.21 
</td>
<td style="width:120px;">
SEK 477.21
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - CAR June 2 [315752] Lindberg Martin CAR June 2 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 477.21 
</td>
<td style="width:120px;">
SEK 477.21
</td>
</tr>
<tr>
<td style="width:250px;">
Meals & Entertainment - Lunch 11/6 [315752] Lindberg Martin Lunch 11/6 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 75.00 
</td>
<td style="width:120px;">
SEK 75.00
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - June 12 [315752] Lindberg Martin June 12 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 362.00 
</td>
<td style="width:120px;">
SEK 362.00
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - June 13 [315752] Lindberg Martin June 13 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 260.00 
</td>
<td style="width:120px;">
SEK 260.00
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - June 15 [315752] Lindberg Martin June 15 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 490.00 
</td>
<td style="width:120px;">
SEK 490.00
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - train [315752] Lindberg Martin train 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 220.00 
</td>
<td style="width:120px;">
SEK 220.00
</td>
</tr>
<tr>
<td style="width:250px;">
Meals & Entertainment - June 16 [315752] Lindberg Martin June 16 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 75.00 
</td>
<td style="width:120px;">
SEK 75.00
</td>
</tr>
<tr>
<td style="width:250px;">
Meals & Entertainment - June 8 [315752] Lindberg Martin June 8 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 75.00 
</td>
<td style="width:120px;">
SEK 75.00
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - CAR June 3 [315752] Lindberg Martin CAR June 3 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 477.21 
</td>
<td style="width:120px;">
SEK 477.21
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - Flight June [315752] Lindberg Martin Flight June 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 3,144.83 
</td>
<td style="width:120px;">
SEK 3,144.83
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - Flight June 2 [315752] Lindberg Martin Flight June 2 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 4,037.21 
</td>
<td style="width:120px;">
SEK 4,037.21
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - Flight June 3 [315752] Lindberg Martin Flight June 3 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 2,189.21 
</td>
<td style="width:120px;">
SEK 2,189.21
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - June 10 [315752] Lindberg Martin June 10 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 490.00 
</td>
<td style="width:120px;">
SEK 490.00
</td>
</tr>
<tr>
<td style="width:250px;">
Transportation - June 11 [315752] Lindberg Martin June 11 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
SEK 505.00 
</td>
<td style="width:120px;">
SEK 505.00
</td>
</tr>

       
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
    <table>
        <tbody>
           
                <tr>
                    <td style="width:200px;">
                        Netto
                    </td>
                    <td style="width:85px;">
                        Moms
                    </td>
                    <td style="width:200px;">
                        Moms
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;">
                        SEK 14,870.71
                    </td>
                    <td style="width:85px;">
                        25.00 %
                    </td>
                    <td style="width:200px;">
                        SEK 3717.68
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;">
                    </td>
                    <td style="width:85px;">
                    </td>
                    <td style="width:200px;">
                     
                    </td>
                </tr>
       
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
         
                <tr>
                    <td style="width:149px;font-weight:bold;">
                        Att betala
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                      SEK 18,588.39
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;">
                    </td>
                </tr>
       
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
  
</div>
