@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
    font-family: 'Times New Roman', Times, serif;
}

.HeaderMainDiv {
    width: 100%;
    font-size: small;
    letter-spacing: 1px;
    margin-top: 2%;
}

.HeaderMainDiv > div {
    display: inline-block;
}

.font-bold {
    font-weight: bold;
}

span {
    display: block;
}

.vertical-align-top {
    vertical-align: top;
}

.display-inline-block {
    display: inline-block;
}

.padding-right {
    padding-right:5px;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-size: small;
    width: 400px;
}

table td {
    border: 1px solid #000;
    padding-left: 3px;
}
</style>
<div>
    <div style="y:20;width:70px;x:0;height:70px;">
        <img src="@Model.ImagesFolderRootPath/zc_logo.jpg" alt="logo" />
    </div>
  
        <div style="vertical-align:top;height:110px;width:0;y:15;x:85;text-align:left;">
            <div style="font-family:Times New Roman;padding-bottom:0px;font-size:10px;padding-top:0px;font-weight:regular;">
                ZeroChaos (Europe) Ltd.
                130 Wood Street
                London EC2V 6DL
                www.zerochaos.com
                + 44 877 937 6242
                VAT # GB 905630932
                Account # 05846406
            </div>
            <div style="font-family:Times New Roman;padding-bottom:0px;font-size:18px;padding-top:0px;font-weight:bold;">
                Invoice
            </div>
        </div>
        <div style="vertical-align:middle;height:200px;width:0;y:90;x:315;text-align:left;">
            <table>
                <tr>
                    <td style="width:160px;">Invoice No</td>
                </tr>
                <tr>
                    <td style="width:160px;font-family:Times-Roman;font-size:10px;">ZCCSVBU000000003</td>
                </tr>
                <tr>
                    <td style="width:160px;">Invoice Date</td>
                </tr>
                <tr>
                    <td style="width:160px;">2013-10-04</td>
                </tr>
                <tr>
                    <td style="width:400px;">Delivery Address</td>
                </tr>
                <tr>
                    <td style="width:400px;height:80px;">Silicon Valley Bank (UK Branch)</td>
                    <td style="width:400px;height:80px;">Attn: Accounts Payable Invoices</td>
                    <td style="width:400px;height:80px;">41 Lothbury, 7th Floor</td>
                    <td style="width:400px;height:80px;">EC2R 7HF London, Lon</td>
                </tr>
                <tr>
                    <td style="width:400px;">Invoice Address</td>
                </tr>
                <tr>
                      <td style="width:400px;height:80px;">Silicon Valley Bank (UK Branch)</td>
                    <td style="width:400px;height:80px;">Attn: Accounts Payable Invoices</td>
                    <td style="width:400px;height:80px;">41 Lothbury, 7th Floor</td>
                    <td style="width:400px;height:80px;">EC2R 7HF London, Lon</td>
                </tr>
                <tr>
                    <td style="width:110px;">Your Reference</td>
                    <td style="width:190px;"></td>
                </tr>
                <tr>
                    <td style="width:110px;">Your Order No</td>
                    <td style="width:190px;"></td>
                </tr>
                <tr>
                    <td style="width:110px;">Customer VAT-No</td>
                    <td style="width:190px;"></td>
                </tr>
                <tr>
                    <td style="width:110px;"></td>
                    <td style="width:190px;"></td>
                </tr>
                <tr>
                    <td style="width:120px;">Our Reference</td>
                    <td style="width:190px;"></td>
                </tr>
                <tr>
                    <td style="width:120px;">Terms of Payment</td>
                    <td style="width:190px;">30 days</td>
                </tr>
                <tr>
                    <td style="width:120px;">Date Due</td>
                    <td style="width:190px;">2013-11-03</td>
                </tr>
                <tr>
                    <td style="width:120px;">Penalty Interest</td>
                    <td style="width:190px;">9.50%</td>
                </tr>
            </table>
        </div>
  
</div>
