@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            SWIFT-Address
        </label>
        <label>
            ESSESESS
        </label>
        <label>
            Countrycode
        </label>
        <label>
            SE
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        <label>
            Account Number
        </label>
        <label>
            5555-1000893
        </label>
        <label>
            IBAN
        </label>
        <label>
            SE2150000000055551000893
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Bank
        SEB
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Address
        Kungstradgardsgatan 8
        SE-106 40 Stockholm, Sweden
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            Address
        </label>
        <label>
            Sveavagen 13 11tr
        </label>
        <label>
            111 57 Stockholm
        </label>
        <label>
            Sweden
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        <label>
            Telephone
        </label>
        <label>
            +46-8-664 80 00
        </label>
        <label>
            Fax
        </label>
        <label>
            +46-8-664 80 01
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Bankgiro
        5659-3486
        Org Numb
        556608-5089
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Internet
        <u>www.zerochaos.com</u>
        VAT Number
        SE556608508901
        ZeroChaos är godkänd för F-skatt
    </div>
</div>
