@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Kuvaus</label>
                </th>
                <th style="width:118px;">
                    <label>Yksikkömäärä</label>
                </th>
                <th style="width:135px;">
                    <label>Yksikköhinta</label>
                </th>
                <th style="width:135px;">
                    <label>Summa</label>
                </th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-395
</td>
<td style="width:118px;">
2.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 230.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-481
</td>
<td style="width:118px;">
2.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 287.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-495
</td>
<td style="width:118px;">
9.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 1,092.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri INC0447992
</td>
<td style="width:118px;">
13.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 1,495.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri INC0453096
</td>
<td style="width:118px;">
11.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 1,265.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri DW-2469
</td>
<td style="width:118px;">
1.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 172.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri STEST-9057
</td>
<td style="width:118px;">
2.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 230.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-509
</td>
<td style="width:118px;">
2.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 230.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-414
</td>
<td style="width:118px;">
3.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 402.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-447
</td>
<td style="width:118px;">
11.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 1,322.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-458
</td>
<td style="width:118px;">
2.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 230.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-460
</td>
<td style="width:118px;">
1.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 172.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-472
</td>
<td style="width:118px;">
3.50 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 402.50
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-482
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 115.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-453
</td>
<td style="width:118px;">
30.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 3,450.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-386
</td>
<td style="width:118px;">
3.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 345.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-388
</td>
<td style="width:118px;">
3.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 345.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri BI-455
</td>
<td style="width:118px;">
4.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 460.00
</td>
</tr>
<tr>
<td style="width:250px;">
Cognos consulting (Konecranes Oyj, PL 844 (60))
Regular: 2015-09-01 to 2015-09-30 [4136080]
Suopelto Harri DW-2329
</td>
<td style="width:118px;">
2.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 230.00
</td>
</tr>


        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
    <table>
        <tbody>
         
                <tr>
                    <td style="width:250px;">
                        Netto
                    </td>
                    <td style="width:118px;">
                        ALV%
                    </td>
                    <td style="width:135px;">
                        ALV
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                       EUR 12,477.50
                    </td>
                    <td style="width:118px;">
                        24.00 %
                    </td>
                    <td style="width:135px;">
                        EUR 2994.60
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                    </td>
                    <td style="width:118px;">
                    </td>
                    <td style="width:135px;">
                       
                    </td>
                </tr>
   
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
          
                <tr>
                    <td style="width:165px;font-weight:bold;font-size:12px;">
                        Maksettavaa
                    </td>
                </tr>
                <tr>
                    <td style="width:165px;font-weight:regular;">
                        EUR 15,472.10
                    </td>
                </tr>
                <tr>
                    <td style="width:165px;">
                    </td>
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
</div>
