@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
     <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Benämning</label>
                </th>
                <th style="width:118px;">
                    <label>Lev.Enh.</label>
                </th>
                <th style="width:135px;">
                    <label>A-pris</label>
                </th>
                <th style="width:120px;">
                    <label>Summa</label>
                </th>
            </tr>
        </thead>
        <tbody>
         
              <tr>
<td style="width:250px;">
SKAT (System integration (30) Standard) 
</td>
<td style="width:118px;">
  
</td>
<td style="width:135px;">
  
</td>
<td style="width:120px;">

</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018796] Brandborg Helle - Sapentia v/Helle Brandborg 
</td>
<td style="width:118px;">
 103.50 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 73,453.95
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018681] Brink Rasmussen Carina - Ciber Danmark A/S 
</td>
<td style="width:118px;">
 65.50 
</td>
<td style="width:135px;">
DKK 849.70 
</td>
<td style="width:120px;">
DKK 55,655.35
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018801] Bryntesson Ove - Ciber Danmark A/S  
</td>
<td style="width:118px;">
 86.50 
</td>
<td style="width:135px;">
DKK 849.70 
</td>
<td style="width:120px;">
DKK 73,499.05
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018804] Cucarano Sandro - Ciber Danmark A/S 
</td>
<td style="width:118px;">
 98.50 
</td>
<td style="width:135px;">
DKK 849.70 
</td>
<td style="width:120px;">
DKK 83,695.45
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018802] Denker René - LMB Consult 
</td>
<td style="width:118px;">
 97.50 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 69,195.75
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018784] Haaning Christian - QSCM A/S 
</td>
<td style="width:118px;">
 131.50 
</td>
<td style="width:135px;">
DKK 859.70 
</td>
<td style="width:120px;">
DKK 113,050.55
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018806] Hansen Tavs - Zenit Consult A/S 
</td>
<td style="width:118px;">
 164.00 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 116,390.80
</td>
<tr>
<td style="width:250px;">
Regular Time: 2014-06-01 to 2014-06-30 [4018803] Henriksen Rikke - Experis A/S 
</td>
<td style="width:118px;">
 86.00 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 61,034.20
</td>
<tr>
<td style="width:250px;">
SKAT (System integration (30) Standard) 
</td>
<td style="width:118px;">
  
</td>
<td style="width:135px;">
  
</td>
<td style="width:120px;">

</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018788] Jacobsen Flemming - ACOMI A/S 
</td>
<td style="width:118px;">
 106.00 
</td>
<td style="width:135px;">
DKK 859.70 
</td>
<td style="width:120px;">
DKK 91,128.20
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018798] Kaic Marco - Framework Consulting A/S
</td>
<td style="width:118px;">
 131.80 
</td>
<td style="width:135px;">
DKK 809.70 
</td>
<td style="width:120px;">
DKK 106,718.46
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018786] Kargo David - Ciber Danmark A/S 
</td>
<td style="width:118px;">
 136.00 
</td>
<td style="width:135px;">
DKK 849.70 
</td>
<td style="width:120px;">
DKK 115,559.20
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018791] Lakshøj Gitte - LMB Consult 
</td>
<td style="width:118px;">
 90.00 
</td>
<td style="width:135px;">
DKK 859.70 
</td>
<td style="width:120px;">
DKK 77,373.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018789] Møller Gert - LMB Consult 
</td>
<td style="width:118px;">
 145.50 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 103,261.35
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4019044] Olsen Hanne - Ciber Danmark A/S 
</td>
<td style="width:118px;">
 75.50 
</td>
<td style="width:135px;">
DKK 849.70 
</td>
<td style="width:120px;">
DKK 64,152.35
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4019043] Pedersen Dan - ACOMI A/S 
</td>
<td style="width:118px;">
 114.00 
</td>
<td style="width:135px;">
DKK 904.70 
</td>
<td style="width:120px;">
DKK 103,135.80
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018807] Pedersen Tim - mySupply ApS 
</td>
<td style="width:118px;">
 14.00 
</td>
<td style="width:135px;">
DKK 859.70 
</td>
<td style="width:120px;">
DKK 12,035.80
</td>
<tr>
<td style="width:250px;">
SKAT (System integration (30) Standard) 
</td>
<td style="width:118px;">
  
</td>
<td style="width:135px;">
  
</td>
<td style="width:120px;">

</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018799] Rongsted Michael - LMB Consult 
</td>
<td style="width:118px;">
 81.50 
</td>
<td style="width:135px;">
DKK 659.70 
</td>
<td style="width:120px;">
DKK 53,765.55
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4019042] Skovhus Charlotte Dahl - mySupply ApS 
</td>
<td style="width:118px;">
 4.50 
</td>
<td style="width:135px;">
DKK 859.70 
</td>
<td style="width:120px;">
DKK 3,868.65
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018800] Smerdel Mogens - ACOMI A/S 
</td>
<td style="width:118px;">
 21.00 
</td>
<td style="width:135px;">
DKK 859.70 
</td>
<td style="width:120px;">
DKK 18,053.70
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018794] Svarre Kamp Gustav - LMB Consult 
</td>
<td style="width:118px;">
 87.50 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 62,098.75
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018797] Tange Klaus - Ciber Danmark A/S 
</td>
<td style="width:118px;">
 74.00 
</td>
<td style="width:135px;">
DKK 849.70 
</td>
<td style="width:120px;">
DKK 62,877.80
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018792] Terp Gregers - LMB Consult 
</td>
<td style="width:118px;">
 71.00 
</td>
<td style="width:135px;">
DKK 709.70 
</td>
<td style="width:120px;">
DKK 50,388.70
</td>
<tr>
<td style="width:250px;">
Regular: 2014-06-01 to 2014-06-30 [4018805] van Straaten Shirley - LMB Consult 
</td>
<td style="width:118px;">
 8.00 
</td>
<td style="width:135px;">
DKK 809.70 
</td>
<td style="width:120px;">
DKK 6,477.60
</td>

 
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
 
    <table>
        <tbody>
           
                <tr>
                    <td style="width:200px;">
                        Netto
                    </td>
                    <td style="width:85px;">
                        Moms
                    </td>
                    <td style="width:200px;">
                        Moms
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;">
                        DKK 1,576,870.01
                    </td>
                    <td style="width:85px;">
                       25.00 %
                    </td>
                    <td style="width:200px;">
                        DKK 394217.53
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;">
                    </td>
                    <td style="width:85px;">
                    </td>
                    <td style="width:200px;">
                       
                    </td>
   
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
           
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                        Att Betala
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                       DKK 1,971,087.54
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;">
                    </td>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
  
</div>
