@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Description</label>
                </th>
                <th style="width:118px;">
                    <label>Units</label>
                </th>
                <th style="width:135px;">
                    <label>Unit Price</label>
                </th>
                <th style="width:120px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
          
                <tr>
<td style="width:250px;">
Invoice Admin Fee [307493] Martinho Artur 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 748.00 
</td>
<td style="width:120px;">
NOK 748.00
</td>
<tr>
<td style="width:250px;">
Transportation - Amegar-obroTaxi_0906 [307493] Martinho Artur (Amegar-obroTaxi_0906) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 90.18 
</td>
<td style="width:120px;">
NOK 90.18
</td>
<tr>
<td style="width:250px;">
Transportation - Amegar-obroTaxi_0913 [307493] Martinho Artur (Amegar-obroTaxi_0913) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 103.22 
</td>
<td style="width:120px;">
NOK 103.22
</td>
<tr>
<td style="width:250px;">
Transportation - Amegar-obroTaxi_0918 [307493] Martinho Artur (Amegar-obroTaxi_0918) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 81.49 
</td>
<td style="width:120px;">
NOK 81.49
</td>
<tr>
<td style="width:250px;">
Transportation - dantaxi0911 [307493] Martinho Artur (dantaxi0911) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 108.66 
</td>
<td style="width:120px;">
NOK 108.66
</td>
<tr>
<td style="width:250px;">
Transportation - dantaxi0912 [307493] Martinho Artur (dantaxi0912) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 68.45 
</td>
<td style="width:120px;">
NOK 68.45
</td>
<tr>
<td style="width:250px;">
Meals & Entertainment - Brewpub [307493] Martinho Artur (Brewpub) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 710.60 
</td>
<td style="width:120px;">
NOK 710.60
</td>
<tr>
<td style="width:250px;">
Meals & Entertainment - meeDuang [307493] Martinho Artur (meeDuang) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 648.67 
</td>
<td style="width:120px;">
NOK 648.67
</td>
<tr>
<td style="width:250px;">
Meals & Entertainment - moccador20sept [307493] Martinho Artur (moccador20sept) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 347.70 
</td>
<td style="width:120px;">
NOK 347.70
</td>
<tr>
<td style="width:250px;">
Meals & Entertainment - Nimb [307493] Martinho Artur (Nimb) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 1,314.73 
</td>
<td style="width:120px;">
NOK 1,314.73
</td>
<tr>
<td style="width:250px;">
Meals & Entertainment - umami [307493] Martinho Artur (umami) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 10,026.68 
</td>
<td style="width:120px;">
NOK 10,026.68
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0906 [307493] Martinho Artur (Taxa4x35_0906) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 92.36 
</td>
<td style="width:120px;">
NOK 92.36
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0910 [307493] Martinho Artur (Taxa4x35_0910) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 95.62 
</td>
<td style="width:120px;">
NOK 95.62
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0914 [307493] Martinho Artur (Taxa4x35_0914) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 118.43 
</td>
<td style="width:120px;">
NOK 118.43
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0917 [307493] Martinho Artur (Taxa4x35_0917) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 82.58 
</td>
<td style="width:120px;">
NOK 82.58
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0918 [307493] Martinho Artur (Taxa4x35_0918) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 152.12 
</td>
<td style="width:120px;">
NOK 152.12
</td>
<tr>
<td style="width:250px;">
Meals & Entertainment - amagerKonjaKebab [307493] Martinho Artur (amagerKonjaKebab) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 92.36 
</td>
<td style="width:120px;">
NOK 92.36
</td>
<tr>
<td style="width:250px;">
Transportation - FlytogetGardtoCS0918 [307493] Martinho Artur (FlytogetGardtoCS0918) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 170.00 
</td>
<td style="width:120px;">
NOK 170.00
</td>
<tr>
<td style="width:250px;">
Transportation - Reisekvittering - 2993NY [307493] Martinho Artur (Reisekvittering - 2993NY) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 2,474.00 
</td>
<td style="width:120px;">
NOK 2,474.00
</td>
<tr>
<td style="width:250px;">
Transportation - Reisekvittering - 5DPOV7 [307493] Martinho Artur (Reisekvittering - 5DPOV7) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 2,797.12 
</td>
<td style="width:120px;">
NOK 2,797.12
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0828 [307493] Martinho Artur (Taxa4x35_0828) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 85.35 
</td>
<td style="width:120px;">
NOK 85.35 
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0830 [307493] Martinho Artur (Taxa4x35_0830) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 83.66 
</td>
<td style="width:120px;">
NOK 83.66
</td>
<tr>
<td style="width:250px;">
Transportation - Taxa4x35_0902 [307493] Martinho Artur (Taxa4x35_0902) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 141.50 
</td>
<td style="width:120px;">
NOK 141.50
</td>
<tr>
<td style="width:250px;">
Transportation - DSB0827 [307493] Martinho Artur (DSB0827) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 162.98 
</td>
<td style="width:120px;">
NOK 162.98
</td>
<tr>
<td style="width:250px;">
Transportation - DSB0905 [307493] Martinho Artur (DSB0905) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 162.98 
</td>
<td style="width:120px;">
NOK 162.98
</td>
<tr>
<td style="width:250px;">
Transportation - DSB0911 [307493] Martinho Artur (DSB0911) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 162.98 
</td>
<td style="width:120px;">
NOK 162.98
</td>
<tr>
<td style="width:250px;">
Transportation - FlytogetCStoGard [307493] Martinho Artur (FlytogetCStoGard) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 170.00 
</td>
<td style="width:120px;">
NOK 170.00
</td>
<tr>
<td style="width:250px;">
Transportation - FlytogetCStoGard0902 [307493] Martinho Artur (FlytogetCStoGard0902) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 170.00 
</td>
<td style="width:120px;">
NOK 170.00
</td>
<tr>
<td style="width:250px;">
Transportation - FlytogetGardtoCS [307493] Martinho Artur (FlytogetGardtoCS) 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
NOK 170.00 
</td>
<td style="width:120px;">
NOK 170.00
</td>

     
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
    <table>
        <tbody>
        
                <tr>
                    <td style="width:250px;">
                        Net
                    </td>
                    <td style="width:85px;">
                        VAT%
                    </td>
                    <td style="width:200px;">
                        VAT Amt
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                       NOK 21,632.42
                    </td>
                    <td style="width:85px;">
                        25.00 %
                    </td>
                    <td style="width:200px;">
                        NOK 5408.11
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                    </td>
                    <td style="width:85px;">
                    </td>
                    <td style="width:200px;">
					     </td>
                </tr>
                       
     
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
         
                <tr>
                    <td style="width:149px;">
                        To Pay
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                        NOK 27,040.53
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;">
                    </td>
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
</div>
