@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Description</label>
                </th>
                <th style="width:118px;">
                    <label>Units</label>
                </th>
                <th style="width:135px;">
                    <label>Unit Price</label>
                </th>
                <th style="width:135px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
           <tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3972530]
Hauensuo Jukka
</td>
<td style="width:118px;">
168.00 
</td>
<td style="width:135px;">
EUR 115.00 
</td>
<td style="width:135px;">
EUR 19,320.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3980323]
Holmström Sam
</td>
<td style="width:118px;">
74.00 
</td>
<td style="width:135px;">
EUR 125.00 
</td>
<td style="width:135px;">
EUR 9,250.00
</td>
<tr>
<td style="width:250px;">
Svir Russia (96000360): 2014-01-01 to
2014-01-31 [3977044] Lebedev Dmitry
</td>
<td style="width:118px;">
111.00 
</td>
<td style="width:135px;">
EUR 125.00 
</td>
<td style="width:135px;">
EUR 13,875.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3980285]
Lehtipuu Teppo
</td>
<td style="width:118px;">
2.50 
</td>
<td style="width:135px;">
EUR 120.00 
</td>
<td style="width:135px;">
EUR 300.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3980381]
Miettinen Jorma
</td>
<td style="width:118px;">
33.50 
</td>
<td style="width:135px;">
EUR 120.00 
</td>
<td style="width:135px;">
EUR 4,020.00
</td>
<tr>
<td style="width:250px;">
Svir Russia (96000360): 2014-01-01 to
2014-01-31 [3980381] Miettinen Jorma
</td>
<td style="width:118px;">
106.00 
</td>
<td style="width:135px;">
EUR 120.00 
</td>
<td style="width:135px;">
EUR 12,720.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3976649]
Mikola Heikki
</td>
<td style="width:118px;">
97.00 
</td>
<td style="width:135px;">
EUR 99.00 
</td>
<td style="width:135px;">
EUR 9,603.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3976978]
Paukkonen Olli
</td>
<td style="width:118px;">
107.00 
</td>
<td style="width:135px;">
EUR 125.00 
</td>
<td style="width:135px;">
EUR 13,375.00
</td>
<tr>
<td style="width:250px;">
Regular Time: 2014-01-01 to 2014-01-31
[3976658] Petrov Jukka
</td>
<td style="width:118px;">
16.50 
</td>
<td style="width:135px;">
EUR 119.00 
</td>
<td style="width:135px;">
EUR 1,963.50
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3976707]
Pöyhönen Harri
</td>
<td style="width:118px;">
4.00 
</td>
<td style="width:135px;">
EUR 139.00 
</td>
<td style="width:135px;">
EUR 556.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3975515]
Pöyhönen Harri
</td>
<td style="width:118px;">
77.50 
</td>
<td style="width:135px;">
EUR 139.00 
</td>
<td style="width:135px;">
EUR 10,772.50
</td>
<tr>
<td style="width:250px;">
Svir Russia (96000360): 2014-01-01 to
2014-01-31 [3978115] Shteingart Nina
</td>
<td style="width:118px;">
101.00 
</td>
<td style="width:135px;">
EUR 125.00 
</td>
<td style="width:135px;">
EUR 12,625.00
</td>
<tr>
<td style="width:250px;">
Regular: 2014-01-01 to 2014-01-31 [3975871]
Verstraeten Andre
</td>
<td style="width:118px;">
22.00 
</td>
<td style="width:135px;">
EUR 980.00 
</td>
<td style="width:135px;">
EUR 21,560.00
</td>
<tr>
<td style="width:250px;">
Regular Time: 2014-01-02 to 2014-01-31
[3976843] Vuorinen Ville
</td>
<td style="width:118px;">
4.00 
</td>
<td style="width:135px;">
EUR 139.00 
</td>
<td style="width:135px;">
EUR 556.00
</td>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
  
    <table>
        <tbody>
            
                <tr>
                    <td style="width:250px;">
                        Net
                    </td>
                    <td style="width:118px;">
                        VAT %
                    </td>
                    <td style="width:135px;">
                        VAT Amt
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                       EUR 130,496.00
                    </td>
                    <td style="width:118px;">
                        24.00 %
                    </td>
                    <td style="width:135px;">
                       EUR 31319.04
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                    </td>
                    <td style="width:118px;">
                    </td>
                    <td style="width:135px;">
                        
                    </td>
                </tr>
 
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
           
                <tr>
                    <td style="width:165px;font-weight:bold;font-size:12px;">
                        To Pay
                    </td>
                </tr>
                <tr>
                    <td style="width:165px;font-weight:regular;">
                        EUR 161,815.04
                    </td>
                </tr>
                <tr>
                    <td style="width:165px;">
                    </td>
                </tr>
      
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    
</div>
