@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Description</label>
                </th>
                <th style="width:118px;">
                    <label>Units</label>
                </th>
                <th style="width:135px;">
                    <label>Unit Price</label>
                </th>
                <th style="width:120px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
         
              <tr>
<td style="width:250px;">
Administrative Assistants I (SVB UK)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2013-09-02 to 2013-09-08 [3733055] Landers Stephanie
</td>
<td style="width:118px;">
 40.00 
</td>
<td style="width:135px;">
GBP 32.65 
</td>
<td style="width:120px;">
GBP 1,306.00
</td>
</tr>
<tr>
<td style="width:250px;">
Overtime: 2013-09-02 to 2013-09-08 [3733055] Landers Stephanie
</td>
<td style="width:118px;">
 2.25
</td>
<td style="width:135px;">
 GBP 32.65 
</td>
<td style="width:120px;">
GBP 73.46
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2013-09-09 to 2013-09-15 [3733065] Landers Stephanie 
</td>
<td style="width:118px;">
40.00 
</td>
<td style="width:135px;">
GBP 32.65 
</td>
<td style="width:120px;">
GBP 1,306.00
</td>
</tr>
<tr>
<td style="width:250px;">
Overtime: 2013-09-09 to 2013-09-15 [3733065] Landers Stephanie 
</td>
<td style="width:118px;">
0.50 
</td>
<td style="width:135px;">
GBP 32.65 
</td>
<td style="width:120px;">
GBP 16.32
</td>
</tr>
<tr>
<td style="width:250px;">
VAT Tax for UK ZCST03733055 [466421] Landers Stephanie 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
GBP 229.92 
</td>
<td style="width:120px;">
GBP 229.92
</td>
</tr>
<tr>
<td style="width:250px;">
VAT Tax for UK ZCST03733065 [466423] Landers Stephanie
</td>
<td style="width:118px;">
 1.00 
</td>
<td style="width:135px;">
GBP 220.40
</td>
<td style="width:120px;">
 GBP 220.40
</td>
</tr>
<tr>
<td style="width:250px;">
VAT Tax for UK ZCST03733067 [466424] Landers Stephanie 
</td>
<td style="width:118px;">
1.00 
</td>
<td style="width:135px;">
GBP 228.56
</td>
<td style="width:120px;">
 GBP 228.56
</td>
</tr>
<tr>
<td style="width:250px;">
Regular: 2013-09-16 to 2013-09-22 [3733067] Landers Stephanie 
</td>
<td style="width:118px;">
40.00 
</td>
<td style="width:135px;">
GBP 32.65 
</td>
<td style="width:120px;">
GBP 1,306.00
</td>
</tr>
<tr>
<td style="width:250px;">
Administrative Assistants I (SVB UK)
</td>
<td style="width:118px;">

</td>
<td style="width:135px;">

</td>
<td style="width:120px;">

</td>
</tr>
<tr>
<td style="width:250px;">
Overtime: 2013-09-16 to 2013-09-22 [3733067] Landers Stephanie 
</td>
<td style="width:118px;">
2.00 
</td>
<td style="width:135px;">
GBP 32.65 
</td>
<td style="width:120px;">
GBP 65.30
</td>
</tr>
<tr>
<td style="width:250px;">
Adjustment-Overtime (2013-09-16 to 2013-09-22) [3733067] Landers Stephanie 
</td>
<td style="width:118px;">
2.00
</td>
<td style="width:135px;">
 -GBP 5.44 
</td>
<td style="width:120px;">
-GBP 10.88
</td>
</tr>
<tr>
<td style="width:250px;">
Adjustment-Regular (2013-09-16 to 2013-09-22)  [3733067] Landers Stephanie 
</td>
<td style="width:118px;">
40.00
</td>
<td style="width:135px;">
 -GBP 5.44
</td>
<td style="width:120px;">
 -GBP 217.60
</td>
</tr>
<tr>
<td style="width:250px;">
Adjustment-Overtime (2013-09-09 to 2013-09-15) [3733065] Landers Stephanie 
</td>
<td style="width:118px;">
0.50
</td>
<td style="width:135px;">
 -GBP 5.44
</td>
<td style="width:120px;">
 -GBP 2.72
</td>
</tr>
<tr>
<td style="width:250px;">
Adjustment-Regular (2013-09-09 to 2013-09-15) [3733065] Landers Stephanie 
</td>
<td style="width:118px;">
40.00
</td>
<td style="width:135px;">
-GBP 5.44 
</td>
<td style="width:120px;">
-GBP 217.60
</td>
</tr>
<tr>
<td style="width:250px;">
Adjustment-Overtime (2013-09-02 to 2013-09-08) [3733055] Landers Stephanie 
</td>
<td style="width:118px;">
2.25
</td>
<td style="width:135px;">
 -GBP 5.44
</td>
<td style="width:120px;">
 -GBP 12.24
</td>
</tr>
<tr>
<td style="width:250px;">
Adjustment-Regular (2013-09-02 to 2013-09-08)  [3733055] Landers Stephanie 
</td>
<td style="width:118px;">
40.00
</td>
<td style="width:135px;">
 -GBP 5.44
</td>
<td style="width:120px;">
 -GBP 217.60
</td>
</tr>

   
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
 
    <table>
        <tbody>
         
                <tr>
                    <td style="width:120px;">
                        Total Hours
                    </td>
                    <td style="width:120px;">
                        Net
                    </td>
                    <td style="width:120px;">
                        VAT%
                    </td>
                    <td style="width:120px;">
                        VAT Amt
                    </td>
                </tr>
                <tr>
                    <td style="width:120px;">
                        252.50
                    </td>
                    <td style="width:120px;">
                        GBP 4,073.32
                    </td>
                    <td style="width:120px;">
                        0.00 %
                    </td>
                    <td style="width:120px;">
                        GBP 0.00
                    </td>
                </tr>
                <tr>
                    <td style="width:120px;">
                    </td>
                    <td style="width:120px;">
                    </td>
                    <td style="width:120px;">
                    </td>
                    <td style="width:120px;">
                       
                    </td>
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
         
                <tr>
                    <td style="width:149px;font-weight:bold;">
                        To Pay
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;font-weight:Regular;">
                       GBP 4,073.32
                    </td>
                </tr>
                <tr>
                    <td style="width:149px;">
                    </td>
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
