@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        <label>
            ZeroChaos OY
        </label>
        <label>
        </label>
        <label>
            Lars Sonckin kaari 14
        </label>
        <label>
            02600 Espoo
        </label>
        <label>
            FINLAND
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        <label>
            Tel
        </label>
        <label>
        </label>
        <label>
            Fax
        </label>
        <label>
            BIC
        </label>
        <label>
            IBAN
        </label>
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
        358 40 558 1128
        ESSEFIHX
        FI83 3301 0001 2312 40
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        Business ID:
        Domicile:
    </div>
    <div style="font-family:Times New Roman;padding-bottom:0px;padding-left:0px;padding-top:0px;font-weight:regular;font-size:9px;padding-right:0px;">
        FI2298144-4
        Helsinki
    </div>
</div>
