@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:250px;">
                    <label>Description</label>
                </th>
                <th style="width:92px;">
                    <label>UOM</label>
                </th>
                <th style="width:89px;">
                    <label>Units</label>
                </th>
                <th style="width:100px;">
                    <label>Unit Price (PLN)</label>
                </th>
                <th style="width:109px;">
                    <label>Total (PLN)</label>
                </th>
            </tr>
        </thead>
        <tbody>
          
             <tr>
<td style="width:250px;">
 Audible MSP Transition (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4968433]
Afonso David 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 23.00 
</td>
<td style="width:100px;">
 35.00 
</td>
<td style="width:109px;">
 805.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time - APCS - Catalog Services (phase C): 12/29/2014 to 1/4/2015 [4965749]
Ahmed Hamza 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 110.00 
</td>
<td style="width:109px;">
 2,640.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Acquisition)
Regular Time: 12/29/2014 to 1/4/2015 [4971085]
Ahmed Sohail 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 30.00 
</td>
<td style="width:100px;">
 85.00 
</td>
<td style="width:109px;">
 2,550.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Acquisition) 
Regular Time: 12/22/2014 to 12/28/2014 [4971087]
Ahmed Sohail 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 30.00 
</td>
<td style="width:100px;">
 85.00 
</td>
<td style="width:109px;">
 2,550.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Graphic Designer (Tech Dev)
Regular Time: 12/29/2014 to 1/4/2015 [4970172]
Ahumada Myron 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 25.00 
</td>
<td style="width:100px;">
 58.75 
</td>
<td style="width:109px;">
 1,468.75
</td>
</tr>
<tr>
<td style="width:250px;">
Audiobook Editor (Content Creation) 
Regular Time: 12/29/2014 to 1/4/2015 [4968141]
Alfano Christopher 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 36.00 
</td>
<td style="width:100px;">
 24.00 
</td>
<td style="width:109px;">
 864.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Data Analyst (Merchandising)
Regular Time: 12/22/2014 to 12/28/2014 [4950481]
Ali Asim 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 75.00 
</td>
<td style="width:109px;">
 2,400.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Data Analyst (Merchandising)
Regular Time: 12/29/2014 to 1/4/2015 [4962729]
Ali Asim 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 75.00 
</td>
<td style="width:109px;">
 1,800.00
</td>
</tr>
<tr>
<td style="width:250px;">
Indexer/Copyeditor Consultant (Content) 
Regular Time: 12/29/2014 to 1/4/2015 [4970093]
Altenor Emmanuel 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 21.60 
</td>
<td style="width:109px;">
 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Business Affairs Consultant (Content) 
Regular Time: 12/29/2014 to 1/4/2015 [4962031]
Altman Sharon 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 10.00 
</td>
<td style="width:100px;">
 36.00 
</td>
<td style="width:109px;">
 360.00
</td>
</tr>
<tr>
<td style="width:250px;">
Employee Referral Program Admin (AudioProduction)
Regular Time: 12/29/2014 to 1/4/2015 [4965673]
Atkinson Marc 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 18.00 
</td>
<td style="width:109px;">
 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4967702]
Barbieri Miguel 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 26.00 
</td>
<td style="width:100px;">
 34.50 
</td>
<td style="width:109px;">
 897.00
</td>
</tr>
<tr>
<td style="width:250px;">
 iOS Developer (Tech Dev)
Regular Time - Streaming (Rodizio) (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968388]
Barr Ron 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 115.00 
</td>
<td style="width:109px;">
 3,680.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Content Development Contractor -Entertainment and Pop Culture (Content)
Regular Time: 12/22/2014 to 12/28/2014 [4970697]
Beal Jonathan 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 9.00 
</td>
<td style="width:100px;">
 65.00 
</td>
<td style="width:109px;">
585.00
</td>
</tr>
<tr>
<td style="width:250px;">
OBIEE Developer Consultant (Tech Dev) 
Regular Time - DMART-Business specific data ma(phase C): 12/29/2014 to 1/4/2015 [4968369]
Bhimana VV SaiKrishna 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 95.00 
</td>
<td style="width:109px;">
 2,280.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Employee Referral Program Admin (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4971104]
Block Emily 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 18.00 
</td>
<td style="width:109px;">
 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Marketing) 
Regular Time: 12/29/2014 to 1/4/2015 [4962633]
Borchik Lindsay 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 95.00 
</td>
<td style="width:109px;">
 2,280.00
</td>
</tr>
<tr>
<td style="width:250px;">
Recruiting Consultant (HR/Recruting) 
Regular Time: 12/29/2014 to 1/4/2015 [4968699]
Brown Shawn 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 113.98 
</td>
<td style="width:109px;">
 2,735.52
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021667 The Will: 12/29/2014 to 1/4/2015 [4971140]
Cameron Nicholas 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 5.50 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 176.55
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021609 In Bed with Mr. Wrong: 12/29/2014 to 1/4/2015 [4966105]
Charles Cliff 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 8.50 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 272.85
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021714 Price of Fame: 12/29/2014 to 1/4/2015 [4966105]
Charles Cliff 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 12.25 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 393.23
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_020063 Don't Mean Nuthin': 12/22/2014 to 12/28/2014 [4966126]
Charles Cliff 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 2.25 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 72.23
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Regular Time - BK_HARL_001762 Fatal Scandal: 12/22/2014 to 12/28/2014 [4966126]
Charles Cliff 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 2.25 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 72.23
</td>
</tr>
<tr>
<td style="width:250px;">
Graphic Designer (Acquisition) 
Regular Time: 12/22/2014 to 12/28/2014 [4947066]
Cho Angela 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 14.50 
</td>
<td style="width:100px;">
 105.75 
</td>
<td style="width:109px;">
 1,533.38
</td>
</tr>
<tr>
<td style="width:250px;">
Graphic Designer (Acquisition) 
Regular Time: 12/29/2014 to 1/4/2015 [4965542]
Cho Angela 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 21.00 
</td>
<td style="width:100px;">
 105.75 
</td>
<td style="width:109px;">
 2,220.75
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (UX)
Regular Time: 12/29/2014 to 1/4/2015 [4968679]
Cumalander Eric 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 92.00 
</td>
<td style="width:109px;">
 2,208.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Employee Referral Program Admin (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4957425]
Dennis Benjamin 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 24.00 
</td>
<td style="width:109px;">
 576.00
</td>
</tr>
<tr>
<td style="width:250px;">
Data Analyst with Strong SQL Experience (Marketing) 
Regular Time: 12/29/2014 to 1/4/2015 [4964535]
Desai Ankita 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 90.00 
</td>
<td style="width:109px;">
 2,160.00
</td>
</tr>
<tr>
<td style="width:250px;">
Employee Referral Program Admin (Audio Production) 
Regular Time: 12/29/2014 to 1/4/2015 [4957562]
Devine Joseph 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 15.25 
</td>
<td style="width:100px;">
 24.00 
</td>
<td style="width:109px;">
 366.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Employee Referral Program Admin (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4962377]
Dorson Tyler 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 8.00 
</td>
<td style="width:100px;">
 26.40 
</td>
<td style="width:109px;">
 211.20
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Audio Production) 
Regular Time: 12/29/2014 to 1/4/2015 [4954533]
Escamilla Mauricio 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 27.60 
</td>
<td style="width:109px;">
 662.40
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Audio Production)
Regular Time: 12/22/2014 to 12/28/2014 [4936531]
Escamilla Mauricio 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 14.00 
</td>
<td style="width:100px;">
 27.60 
</td>
<td style="width:109px;">
 386.40
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Legal) 
Regular Time: 12/29/2014 to 1/4/2015 [4952277]
Fantroy Sakina 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 40.00 
</td>
<td style="width:109px;">
 960.00
</td>
</tr>
<tr>
<td style="width:250px;">
Freelance QC Engineer (Content Creation) 
Regular Time: 12/29/2014 to 1/4/2015 [4957126]
Farrant Alistair 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 14.50 
</td>
<td style="width:100px;">
 12.00 
</td>
<td style="width:109px;">
 174.00
</td>
</tr>
<tr>
<td style="width:250px;">
Freelance QC Engineer (Content Creation) 
Regular Time: 12/22/2014 to 12/28/2014 [4947107]
Farrant Alistair 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 0.50 
</td>
<td style="width:100px;">
 12.00 
</td>
<td style="width:109px;">
 6.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Marketing)
Regular Time: 12/29/2014 to 1/4/2015 [4967473]
Felber Susie 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 22.00 
</td>
<td style="width:100px;">
 95.00 
</td>
<td style="width:109px;">
 2,090.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audio QA Consultant (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4962289]
Fico Matthew 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 26.50 
</td>
<td style="width:100px;">
 32.00 
</td>
<td style="width:109px;">
 848.00
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021662 At Peace: 12/29/2014 to 1/4/2015 [4964921]
Figueroa Michelle 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 19.00 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 609.90
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_018739 The Forgetting: 12/29/2014 to 1/4/2015 [4964921]
Figueroa Michelle 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 7.00 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 224.70
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021251 Palm Sunday: 12/29/2014 to 1/4/2015 [4964921]
Figueroa Michelle 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 6.50 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 208.65
</td>
</tr>
<tr>
<td style="width:250px;">
Production Designer (Creative) 
Regular Time: 12/29/2014 to 1/4/2015 [4952145]
Fox Samantha 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 54.00 
</td>
<td style="width:109px;">
 1,728.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Content Specialist (Content)
Regular Time: 12/29/2014 to 1/4/2015 [4968803]
Fraiberg Jordanna 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 37.50 
</td>
<td style="width:100px;">
 116.50 
</td>
<td style="width:109px;">
 4,368.75
</td>
</tr>
<tr>
<td style="width:250px;">
 Copy Editor (Content)
Regular Time: 12/29/2014 to 1/4/2015 [4964546]
Gainer Nichelle 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 21.60 
</td>
<td style="width:109px;">
 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
 ACX QA Engineer (Content Creation)
Regular Time: 12/29/2014 to 1/4/2015 [4969668]
Gallagher Andrew 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 40.00 
</td>
<td style="width:100px;">
 36.00
</td>
<td style="width:109px;">
  1,440.00
</td>
</tr>
<tr>
<td style="width:250px;">
ACX QA Engineer (Content Creation) 
Overtime Time WC: 12/29/2014 to 1/4/2015 [4969668]
Gallagher Andrew 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 8.00 
</td>
<td style="width:100px;">
 54.00
</td>
<td style="width:109px;">
  432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Android Developer (Tech Dev) 
Regular Time - FireOS integration (phase A): 12/29/2014 to 1/4/2015 [4962183]
Garber Louis 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 125.00 
</td>
<td style="width:109px;">
 3,000.00
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021856 Grey Area: 12/29/2014 to 1/4/2015 [4964541]
Ghersini Alexander 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 11.50 
</td>
<td style="width:100px;">
 37.46 
</td>
<td style="width:109px;">
 430.79
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021434 Partisan Diary: 12/29/2014 to 1/4/2015 [4964541]
Ghersini Alexander 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 8.00 
</td>
<td style="width:100px;">
 37.46 
</td>
<td style="width:109px;">
 299.68
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_021195 With This Ring: 12/29/2014 to 1/4/2015 [4964541]
Ghersini Alexander 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 6.00 
</td>
<td style="width:100px;">
 37.46 
</td>
<td style="width:109px;">
 224.76
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (UX) 
Regular Time: 12/29/2014 to 1/4/2015 [4973446]
Gonzalez Paul 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 25.00 
</td>
<td style="width:100px;">
 98.00 
</td>
<td style="width:109px;">
 2,450.00
</td>
</tr>
<tr>
<td style="width:250px;">
Content Programming Operations Specialist (Content) 
Regular Time: 12/29/2014 to 1/4/2015 [4972913]
Gordh Cody 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 40.00 
</td>
<td style="width:100px;">
 42.00 
</td>
<td style="width:109px;">
 1,680.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Facilities)
Regular Time: 12/29/2014 to 1/4/2015 [4978054]
Green Sara 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 25.00 
</td>
<td style="width:100px;">
 23.00 
</td>
<td style="width:109px;">
 575.00
</td>
</tr>
<tr>
<td style="width:250px;">
Indexer/Copyeditor Consultant (Content) 
Regular Time: 12/29/2014 to 1/4/2015 [4967858]
Grow-Nyberg Laura 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 21.60 
</td>
<td style="width:109px;">
 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Sound Engineer (Content Creation) 
Regular Time - BK_ADBL_022267 Departure: 12/29/2014 to 1/4/2015 [4971783]
Hackney Ian 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 12.00 
</td>
<td style="width:100px;">
 37.46 
</td>
<td style="width:109px;">
 449.52
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Sick Time (Billable) - BK_ADBL_021662 At Peace: 12/29/2014 to 1/4/2015 [4971783]
Hackney Ian 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 5.25 
</td>
<td style="width:100px;">
 37.47 
</td>
<td style="width:109px;">
 196.72
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Sick Time (Billable) - BK_ADBL_021667 The Will: 12/29/2014 to 1/4/2015 [4971783]
Hackney Ian 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 5.50 
</td>
<td style="width:100px;">
 37.47 
</td>
<td style="width:109px;">
 206.09
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Sick Time (Billable) - BK_ADBL_021225 Vengeance of the Iron Dwarf: 12/29/2014 to 1/4/2015 [4971783]
Hackney Ian 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 15.50 
</td>
<td style="width:100px;">
 37.47 
</td>
<td style="width:109px;">
 580.79
</td>
</tr>
<tr>
<td style="width:250px;">
Audio QA Consultant (Audio Production) 
Regular Time: 12/29/2014 to 1/4/2015 [4962322]
Heary Sean 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 30.00 
</td>
<td style="width:109px;">
 720.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (UX) 
Regular Time: 12/29/2014 to 1/4/2015 [4970853]
Herring Richard 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 27.00 
</td>
<td style="width:100px;">
 109.00 
</td>
<td style="width:109px;">
 2,943.00
</td>
</tr>
<tr>
<td style="width:250px;">
Customer Service Workforce Manager Consultant (Customer Care) 
Regular Time: 12/29/2014 to 1/4/2015 [4968177]
Howard Kim 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 16.00 
</td>
<td style="width:100px;">
 70.50 
</td>
<td style="width:109px;">
 1,128.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Indexer/Copyeditor Consultant (Content)
Regular Time: 12/29/2014 to 1/4/2015 [4968692]
Ibe Odochi 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 21.60 
</td>
<td style="width:109px;">
 518.40
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Product Management) 
Regular Time: 12/29/2014 to 1/4/2015 [4953967]
Im Young 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 110.00 
</td>
<td style="width:109px;">
 2,640.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Legal Administrator (Legal)
Regular Time: 12/29/2014 to 1/4/2015 [4967973]
Imbemba Danielle 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 17.00 
</td>
<td style="width:100px;">
 36.00 
</td>
<td style="width:109px;">
 612.00
</td>
</tr>
<tr>
<td style="width:250px;">
Windows Phone/Tablet Consultant - Newark (Tech Dev) 
Regular Time - Mobile Apps-iOS v2, Windows app (phase C): 12/29/2014 to 1/4/2015 [4964083]
Jewel Jamil 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 36.00 
</td>
<td style="width:100px;">
 76.38 
</td>
<td style="width:109px;">
 2,749.68
</td>
</tr>
<tr>
<td style="width:250px;">
Visual & UI Designer (UX) 
Regular Time: 12/29/2014 to 1/4/2015 [4964728]
Jung Hun 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 75.00 
</td>
<td style="width:109px;">
 1,800.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4957268]
Kim Tim 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 23.50 
</td>
<td style="width:100px;">
 27.60 
</td>
<td style="width:109px;">
 648.60
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Product Management) 
Regular Time: 12/29/2014 to 12/30/2014 [4974231]
Lopez Carlos 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 18.00 
</td>
<td style="width:100px;">
 95.00 
</td>
<td style="width:109px;">
 1,710.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Creative)
Regular Time: 12/29/2014 to 1/4/2015 [4963789]
Lozano Alexander 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 34.35 
</td>
<td style="width:100px;">
 73.00 
</td>
<td style="width:109px;">
 2,507.55
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Product Management)
Regular Time: 12/29/2014 to 1/4/2015 [4969423]
Macchione Michael 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 22.50 
</td>
<td style="width:100px;">
 120.00 
</td>
<td style="width:109px;">
 2,700.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Recruiting Consultant (HR/Recruting)
Regular Time: 12/29/2014 to 1/4/2015 [4968227]
Marchese Jamey 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 23.00 
</td>
<td style="width:100px;">
 94.00 
</td>
<td style="width:109px;">
 2,162.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Content Curator/Editor (Product Management)
Regular Time: 12/29/2014 to 1/4/2015 [4973933]
MIKI ARNDT STEPHANIE 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 16.00 
</td>
<td style="width:100px;">
 80.00 
</td>
<td style="width:109px;">
 1,280.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (UX)
Regular Time: 12/29/2014 to 1/4/2015 [4978055]
Monastyrskaya Olga 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 21.00 
</td>
<td style="width:100px;">
 100.00
</td>
<td style="width:109px;">
 2,100.00
</td>
</tr>
<tr>
<td style="width:250px;">
ACX QA Engineer (Content Creation) 
Regular Time: 12/29/2014 to 1/4/2015 [4968721]
Morris Matthew 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 32.40 
</td>
<td style="width:109px;">
 1,036.80
</td>
</tr>
<tr>
<td style="width:250px;">
 Project Manager Brand Marketing (Acquisition)
Regular Time: 12/29/2014 to 1/4/2015 [4956735]
Murdock Maurice 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 20.50 
</td>
<td style="width:100px;">
 90.00 
</td>
<td style="width:109px;">
 1,845.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Finance (Finance)
Regular Time: 12/29/2014 to 1/4/2015 [4970278]
Naik Urmila 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 18.00 
</td>
<td style="width:109px;">
 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Sr. Art Director (Creative) 
Regular Time: 12/29/2014 to 1/4/2015 [4954405]
Neufeld Thomas 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 22.00 
</td>
<td style="width:100px;">
 99.88 
</td>
<td style="width:109px;">
 2,197.36
</td>
</tr>
<tr>
<td style="width:250px;">
 Recruiting Consultant (HR/Recruting)
Regular Time: 12/29/2014 to 1/4/2015 [4968149]
Noli Jonathan 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 34.00 
</td>
<td style="width:100px;">
 94.00 
</td>
<td style="width:109px;">
 3,196.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Product Management) 
Regular Time: 12/29/2014 to 1/4/2015 [4968138]
Ochel Colin 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 115.00 
</td>
<td style="width:109px;">
 3,680.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (HR/Recruting)
Regular Time: 12/29/2014 to 1/4/2015 [4968500]
Okin Jordana 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 29.00 
</td>
<td style="width:100px;">
 44.00 
</td>
<td style="width:109px;">
 1,276.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Tech Dev) 
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4965139]
Parimi Vivek 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 130.00 
</td>
<td style="width:109px;">
 3,120.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time: 12/29/2014 to 1/4/2015 [4961725]
Patten Dhajja 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 21.50 
</td>
<td style="width:100px;">
 24.33 
</td>
<td style="width:109px;">
 523.10
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Facilities)
Regular Time: 12/29/2014 to 1/4/2015 [4965037]
Perillo Robert 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 23.00 
</td>
<td style="width:100px;">
 25.20 
</td>
<td style="width:109px;">
 579.60
</td>
</tr>
<tr>
<td style="width:250px;">
Audio QA Consultant (Audio Production) 
Regular Time: 12/29/2014 to 1/4/2015 [4968959]
Perlera Regy 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 23.00 
</td>
<td style="width:100px;">
 94.00 
</td>
<td style="width:109px;">
 2,162.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Visual Designer (Tech Dev)
Regular Time: 12/29/2014 to 1/4/2015 [4956616]
Phillips Forrest 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 18.00 
</td>
<td style="width:109px;">
 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
Employee Referral Program Admin (Audio Production) 
Regular Time - Amazon English (IR4L) (phase B - CAPEX): 12/29/2014 to 1/3/2015 [4964149]
Potter Patrick 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 175.00 
</td>
<td style="width:109px;">
 4,200.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time - Member Giving (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968412]
Ramirez Jorge 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 140.00 
</td>
<td style="width:109px;">
 4,480.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time: 12/29/2014 to 1/4/2015 [4970983]
Rogala Jesse 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 24.00 
</td>
<td style="width:109px;">
 576.00
</td>
</tr>
<tr>
<td style="width:250px;">
Employee Referral Program Admin (Audio Production) 
Regular Time - Hushpuppy V2 (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4967459]
Roll Kevin 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 22.00 
</td>
<td style="width:100px;">
 127.32 
</td>
<td style="width:109px;">
 2,801.04
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time - Audible Platform Rewrite (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4967459]
Roll Kevin 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 3.00 
</td>
<td style="width:100px;">
 127.32 
</td>
<td style="width:109px;">
 381.96
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time: 12/29/2014 to 1/4/2015 [4953346]
Sams Joe 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 18.00 
</td>
<td style="width:109px;">
 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Employee Referral Program Admin (Audio Production)
Regular Time: 12/29/2014 to 1/4/2015 [4973127]
Scheiner Joshua 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 0.50 
</td>
<td style="width:100px;">
 54.00 
</td>
<td style="width:109px;">
 27.00
</td>
</tr>
<tr>
<td style="width:250px;">
Content Specialist (Content) 
Regular Time: 12/22/2014 to 12/28/2014 [4973131]
Schwerin Michael 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 3.00 
</td>
<td style="width:100px;">
 55.00 
</td>
<td style="width:109px;">
165.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Creative) 
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968296]
Selvaraj Sudhakar 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 150.00 
</td>
<td style="width:109px;">
 3,600.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Tech Dev) 
Regular Time: 12/29/2014 to 1/4/2015 [4957056]
Simon Marie 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 22.50 
</td>
<td style="width:100px;">
 47.00 
</td>
<td style="width:109px;">
 1,057.50
</td>
</tr>
<tr>
<td style="width:250px;">
12/31/2014
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 
Singaseni Rajiv 
</td>
<td style="width:92px;">
01/05/2015
</td>
<td style="width:89px;">
 Sailaja Sikharam 
</td>
<td style="width:100px;">
 24.00 
</td>
<td style="width:109px;">
Hourly
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time - Mobile/TOS Automation (phase C): 12/29/2014 to 1/4/2015 [4962270]
Sinha Nidhi 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 100.00 
</td>
<td style="width:109px;">
 2,400.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Software Development Consultant (Tech Dev)
Regular Time - Connected Devices (phase A): 12/29/2014 to 1/4/2015 [4961989]
Sivasubiramanian Thiyaharajan 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 115.00 
</td>
<td style="width:109px;">
 2,760.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time: 12/29/2014 to 1/4/2015 [4969649]
Solorz Brendan 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 29.00 
</td>
<td style="width:100px;">
 32.40 
</td>
<td style="width:109px;">
 939.60
</td>
</tr>
<tr>
<td style="width:250px;">
ACX QA Engineer (Content Creation) 
Regular Time: 12/29/2014 to 1/4/2015 [4952070]
Spiegel Lauren 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 26.00 
</td>
<td style="width:100px;">
 36.00 
</td>
<td style="width:109px;">
 936.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Recruiting Coordinator (HR/Recruting)
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968392]
Stalnaker Brandon 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 125.00 
</td>
<td style="width:109px;">
 3,000.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Tech Dev) 
Regular Time: 12/29/2014 to 1/4/2015 [4969110]
Stoj Roger 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 10.00 
</td>
<td style="width:100px;">
 96.00 
</td>
<td style="width:109px;">
 960.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Product Management) 
Regular Time: 12/29/2014 to 1/4/2015 [4954324]
Stolzman Noah 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 18.00 
</td>
<td style="width:109px;">
 432.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Employee Referral Program Admin (Audio Production)
Overtime Time: 12/29/2014 to 1/4/2015 [4954324]
Stolzman Noah 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 0.75 
</td>
<td style="width:100px;">
 27.00 
</td>
<td style="width:109px;">
 20.25
</td>
</tr>
<tr>
<td style="width:250px;">
 Employee Referral Program Admin (Audio Production)
Regular Time - Amazon English (IR4L) (phase A): 12/29/2014 to 1/4/2015 [4968791]
Timberlake James 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 130.00 
</td>
<td style="width:109px;">
 3,120.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Tech Dev)
Regular Time - Amazon English (IR4L) (phase A): 12/22/2014 to 12/28/2014 [4954579]
Timberlake James 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 24.00 
</td>
<td style="width:100px;">
 130.00 
</td>
<td style="width:109px;">
 3,120.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Tech Dev) 
Regular Time: 12/29/2014 to 1/4/2015 [4962286]
Toots Cynthia 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 29.00 
</td>
<td style="width:100px;">
 55.00 
</td>
<td style="width:109px;">
 1,595.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Creative)
Regular Time - BK_ADBL_021451 Aha: 12/29/2014 to 1/4/2015 [4965383]
Trenis Bryan 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 13.50 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 433.35
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Regular Time: 12/29/2014 to 1/4/2015 [4965071]
Von Brandis Annette 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 72.00 
</td>
<td style="width:109px;">
 2,304.00
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Creative)
Regular Time - BK_ADBL_021978 Second Hand Heart: 12/22/2014 to 12/28/2014 [4974170]
Warner Timothy 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 9.50 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 304.95
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Regular Time - BK_ADBL_016326 Drawn into Darkness: 12/22/2014 to 12/28/2014 [4974170]
Warner Timothy 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 2.00 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 64.20
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Regular Time - BK_ADBL_021708 Apache Fire: 12/22/2014 to 12/28/2014 [4974170]
Warner Timothy 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 5.25 
</td>
<td style="width:100px;">
 32.10 
</td>
<td style="width:109px;">
 168.53
</td>
</tr>
<tr>
<td style="width:250px;">
 Sound Engineer (Content Creation)
Regular Time: 12/29/2014 to 1/4/2015 [4965509]
Weinbrenner Carlo 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 23.00 
</td>
<td style="width:100px;">
 115.00 
</td>
<td style="width:109px;">
 2,645.00 
</td>
</tr>
<tr>
<td style="width:250px;">
 Audible MSP Transition (Creative)
Regular Time: 12/29/2014 to 1/4/2015 [4963773]
Wheeler-Rappe John 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 25.00 
</td>
<td style="width:100px;">
 75.00 
</td>
<td style="width:109px;">
 1,875.00
</td>
</tr>
<tr>
<td style="width:250px;">
Audible MSP Transition (Product Management) 
Regular Time: 12/29/2014 to 1/4/2015 [4968630]
Yuskis Abigail 
</td>
<td style="width:92px;">
Hourly
</td>
<td style="width:89px;">
 32.00 
</td>
<td style="width:100px;">
 75.00 
</td>
<td style="width:109px;">
 2,400.00
</td>
</tr>

       
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
    <table>
        <tbody>
     
                <tr>
                    <td style="width:500px;font-weight:regular;">
                        Total Value of Sales (PLN)
                    </td>
                    <td style="width:40px;font-weight:regular;">
                    </td>
                    <td style="width:101px;font-weight:regular;">
                        635,165.38
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;font-weight:regular;">
                        VAT (PLN)
                    </td>
                    <td style="width:40px;font-weight:regular;">
                        0.00
                    </td>
                    <td style="width:101px;font-weight:regular;">
                        0.00
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;font-weight:bold;">
                        Total Payable Amount including VAT (PLN)
                    </td>
                    <td style="width:40px;font-weight:bold;">
                    </td>
                    <td style="width:101px;font-weight:bold;">
                        PLN 161,706.51
                    </td>
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
  
</div>
