@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:266px;">
                    <label>Description</label>
                </th>
                <th style="width:118px;">
                    <label>Units</label>
                </th>
                <th style="width:135px;">
                    <label>Unit Price</label>
                </th>
                <th style="width:120px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td style="width:266px;">
                        [833605] Rifat Hussain
                    </td>
                    <td style="width:118px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        INR 2,557.60
                    </td>
                    <td style="width:120px;">
                        INR 2,557.60
                    </td>
					</tr>
					<tr>
					 <td style="width:266px;">
                        [833614] Anil Parmar
                    </td>
                    <td style="width:118px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        INR 2,261.49
                    </td>
                    <td style="width:120px;">
                        INR INR 2,261.49
                    </td>
						</tr>
					<tr>
					 <td style="width:266px;">
                       [833616] Ayush Pillai
                    </td>
                    <td style="width:118px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        INR 2,422.98
                    </td>
                    <td style="width:120px;">
                        INR 2,422.98
                    </td>
						</tr>
					<tr>
					 <td style="width:266px;">
                       [833620] Ankit Sharma
                    </td>
                    <td style="width:118px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        INR 2,713.83
                    </td>
                    <td style="width:120px;">
                        INR 2,713.83
                    </td>
						</tr>
					<tr>
					 <td style="width:266px;">
                       [833621] Chandra Prakash Sharma
                    </td>
                    <td style="width:118px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        INR 3,109.68
                    </td>
                    <td style="width:120px;">
                        INR 3,109.68
                    </td>
						</tr>
					<tr>
					 <td style="width:266px;">
              [833622] Akhilendra Singh
                    </td>
                    <td style="width:118px;">
                        1.00
                    </td>
                    <td style="width:135px;">
                        INR 2,813.52
                    </td>
                    <td style="width:120px;">
                        INR 2,813.52
                    </td>
                </tr>
   
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
  
    <table>
        <tbody>
          
                <tr>
                    <td style="width:500px;height:15px;">
                        Total
                    </td>
                    <td style="width:141px;font-weight:Bold;">
                        INR 15,879.10
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;height:15px;">
                       Service Tax @ 14%
                    </td>
                    <td style="width:141px;">
                        INR 2223.08
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;height:15px;">
                        Swachh Bharat Cess @ 0.5%
                    </td>
                    <td style="width:141px;">
                        INR 79.40
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;height:15px;">
                        Krushi Kalyan Cess @ 0.5%
                    </td>
                    <td style="width:141px;">
                        INR 79.40
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;height:15px;">
                       
                    </td>
                    <td style="width:141px;font-weight:Bold;">
                      
                    </td>
                </tr>
                <tr>
                    <td style="width:500px;">
					Total Invoice Value
                    </td>
                    <td style="width:141px;">
					INR 18260.98
                    </td>
                </tr>
        
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
