@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
    font-family: 'Times New Roman', Times, serif;
}

.HeaderMainDiv {
    width: 100%;
    font-size: small;
    letter-spacing: 1px;
    margin-top: 2%;
}

.HeaderMainDiv > div {
    display: inline-block;
}

.font-bold {
    font-weight: bold;
}

span {
    display: block;
}

.vertical-align-top {
    vertical-align: top;
}

.display-inline-block {
    display: inline-block;
}

.padding-right {
    padding-right:5px;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-size: small;
    width: 400px;
}

table td {
    border: 1px solid #000;
    padding-left: 3px;
}
</style>
<div>
    <div style="y:0;width:65px;x:0;height:65px;">
        <img src="@Model.ImagesFolderRootPath/zc_logo.jpg" alt="logo" />
    </div>
   
        <div style="vertical-align:top;height:110px;width:0;y:0;x:68;text-align:left;">
            <div style="font-family:Times New Roman;padding-bottom:0px;font-size:9px;padding-top:0px;font-weight:regular;">
                ZeroChaos Workforce Solutions Pvt. Ltd.
                1st Floor, Pine Valley,
                Embassy - Golf Links Business Park,
                Off Intermediate Ring Road,
                Bangalore - 560071, INDIA
                T +91 080 4176 4646
                Email: invoicing@zerochaos.com
                Website: www.zerochaos.com
            </div>
            <div style="font-family:Times New Roman;padding-bottom:0px;font-size:18px;padding-top:0px;font-weight:bold;">
                Invoice
            </div>
        </div>
        <div style="vertical-align:middle;height:200px;width:0;y:63;x:345;text-align:left;">
            <table>
                <tr>
                    <td style="width:160px;">Invoice No</td>
                </tr>
                <tr>
                    <td style="width:160px;font-family:Times-Roman;font-size:10px;">ZCCLINK000000783</td>
                </tr>
                <tr>
                    <td style="width:160px;">Invoice Date</td>
                </tr>
                <tr>
                    <td style="width:160px;">2016-08-15</td>
                </tr>
                <tr>
                    <td style="width:400px;height:5px;"></td>
                </tr>
                <tr>
                    <td style="width:400px;height:80px;">LinkedIn Technology Information Private LTD</td>
                    <td style="width:400px;height:80px;">221</td>
                    <td style="width:400px;height:80px;">First Floor, Okhla Phase - III</td>
                    <td style="width:400px;height:80px;">110020 India, ININ</td>
                </tr>
                <tr>
                    <td style="width:140px;">CIN</td>
                    <td style="width:155px;">U74999KA2011FTC061630</td>
                </tr>
                <tr>
                    <td style="width:140px;">Service Tax No.</td>
                    <td style="width:155px;">AAACZ5362MSD001</td>
                </tr>
                <tr>
                    <td style="width:140px;">PAN No.</td>
                    <td style="width:155px;">AAACZ5362M</td>
                </tr>
                <tr>
                    <td style="width:140px;">Purchase Order No.</td>
                    <td style="width:155px;">4021371</td>
                </tr>
                <tr>
                    <td style="width:140px;height:5px;"></td>
                    <td style="width:155px;height:5px;"></td>
                </tr>
            </table>
        </div>

</div>
