@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:135px;">
                    <label>Name</label>
                </th>
                <th style="width:270px;">
                    <label>Description</label>
                </th>
                <th style="width:100px;">
                    <label>Approval Manager</label>
                </th>
                <th style="width:75px;">
                    <label>Approval Date</label>
                </th>
                <th style="width:75px;">
                    <label>PO #</label>
                </th>
                <th style="width:75px;">
                    <label>Business Unit</label>
                </th>
                <th style="width:45px;">
                    <label>Cost Center</label>
                </th>
                <th style="width:45px;">
                    <label>QTY</label>
                </th>
                <th style="width:50px;">
                    <label>UOM</label>
                </th>
                <th style="width:65px;">
                    <label>Bill Rate</label>
                </th>
                <th style="width:75px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
          
               <tr>
<td style="width:135px;">
Brandborg Helle 
</td>
<td style="width:270px;">
VAT [4018796] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 18,363.49 
</td>
<td style="width:75px;">
kr 18,363.49
</td>
</tr><tr>
<td style="width:135px;">
Brandborg Helle 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018796] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 103.50
</td>
<td style="width:50px;">
 Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 73,453.95
</td>
</tr><tr>
<td style="width:135px;">
Brink Rasmussen Carina 
</td>
<td style="width:270px;">
VAT [4018681] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 13,913.84 
</td>
<td style="width:75px;">
kr 13,913.84
</td>
</tr><tr>
<td style="width:135px;">
Brink Rasmussen Carina 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018681] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 65.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 849.70 
</td>
<td style="width:75px;">
kr 55,655.35
</td>
</tr><tr>
<td style="width:135px;">
Bryntesson Ove 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018801] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 86.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 849.70 
</td>
<td style="width:75px;">
kr 73,499.05
</td>
</tr><tr>
<td style="width:135px;">
Bryntesson Ove 
</td>
<td style="width:270px;">
VAT [4018801] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 18,374.76 
</td>
<td style="width:75px;">
kr 18,374.76
</td>
</tr><tr>
<td style="width:135px;">
Cucarano Sandro 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018804] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 98.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 849.70 
</td>
<td style="width:75px;">
kr 83,695.45
</td>
</tr><tr>
<td style="width:135px;">
Cucarano Sandro 
</td>
<td style="width:270px;">
VAT [4018804] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 20,923.86 
</td>
<td style="width:75px;">
kr 20,923.86
</td>
</tr><tr>
<td style="width:135px;">
Denker René 
</td>
<td style="width:270px;">
VAT [4018802] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 17,298.94 
</td>
<td style="width:75px;">
kr 17,298.94
</td>
</tr><tr>
<td style="width:135px;">
Denker René 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018802] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 97.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 69,195.75
</td>
</tr><tr>
<td style="width:135px;">
Haaning Christian 
</td>
<td style="width:270px;">
VAT [4018784] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 28,262.64 
</td>
<td style="width:75px;">
kr 28,262.64 
</td>
</tr><tr>
<td style="width:135px;">
Haaning Christian 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018784] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 131.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 859.70 
</td>
<td style="width:75px;">
kr 113,050.55
</td>
</tr><tr>
<td style="width:135px;">
Hansen Tavs 
</td>
<td style="width:270px;">
VAT [4018806] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 29,097.70 
</td>
<td style="width:75px;">
kr 29,097.70
</td>
</tr><tr>
<td style="width:135px;">
Hansen Tavs 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018806] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 164.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 116,390.80
</td>
</tr><tr>
<td style="width:135px;">
Henriksen Rikke 
</td>
<td style="width:270px;">
VAT [4018803] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 15,258.55 
</td>
<td style="width:75px;">
kr 15,258.55
</td>
</tr><tr>
<td style="width:135px;">
Henriksen Rikke 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018803] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 86.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 61,034.20 
</td>
</tr><tr>
<td style="width:135px;">
Jacobsen Flemming 
</td>
<td style="width:270px;">
VAT [4018788] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 DNU System integration (45) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 22,782.05 
</td>
<td style="width:75px;">
kr 22,782.05
</td>
</tr><tr>
<td style="width:135px;">
Jacobsen Flemming 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018788] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 DNU System integration (45) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 106.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 859.70 
</td>
<td style="width:75px;">
kr 91,128.20
</td>
</tr><tr>
<td style="width:135px;">
Kaic Marco 
</td>
<td style="width:270px;">
VAT [4018798] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 26,679.62 
</td>
<td style="width:75px;">
kr 26,679.62 
</td>
</tr><tr>
<td style="width:135px;">
Kaic Marco 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018798] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 131.80 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 809.70 
</td>
<td style="width:75px;">
kr 106,718.46
</td>
</tr><tr>
<td style="width:135px;">
Kargo David 
</td>
<td style="width:270px;">
VAT [4018786] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 28,889.80 
</td>
<td style="width:75px;">
kr 28,889.80
</td>
</tr><tr>
<td style="width:135px;">
Kargo David 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018786] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 136.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 849.70 
</td>
<td style="width:75px;">
kr 115,559.20
</td>
</tr><tr>
<td style="width:135px;">
Lakshøj Gitte 
</td>
<td style="width:270px;">
VAT [4018791] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 19,343.25 
</td>
<td style="width:75px;">
kr 19,343.25 
</td>
</tr><tr>
<td style="width:135px;">
Lakshøj Gitte 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018791] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 90.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 859.70 
</td>
<td style="width:75px;">
kr 77,373.00
</td>
</tr><tr>
<td style="width:135px;">
Møller Gert 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018789] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 145.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 103,261.35
</td>
</tr><tr>
<td style="width:135px;">
Møller Gert 
</td>
<td style="width:270px;">
VAT [4018789] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 25,815.34 
</td>
<td style="width:75px;">
kr 25,815.34
</td>
</tr><tr>
<td style="width:135px;">
Olsen Hanne 
</td>
<td style="width:270px;">
VAT [4019044] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 16,038.09 
</td>
<td style="width:75px;">
kr 16,038.09
</td>
</tr><tr>
<td style="width:135px;">
Olsen Hanne 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4019044] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 75.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 849.70 
</td>
<td style="width:75px;">
kr 64,152.35
</td>
</tr><tr>
<td style="width:135px;">
Pedersen Dan 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4019043] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 DNU System integration (45) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 114.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 904.70 
</td>
<td style="width:75px;">
kr 103,135.80
</td>
</tr><tr>
<td style="width:135px;">
Pedersen Dan 
</td>
<td style="width:270px;">
VAT [4019043] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 DNU System integration (45) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 25,783.95 
</td>
<td style="width:75px;">
kr 25,783.95
</td>
</tr><tr>
<td style="width:135px;">
Pedersen Tim 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018807] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 14.00 Hourly 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 859.70 
</td>
<td style="width:75px;">
kr 12,035.80
</td>
</tr><tr>
<td style="width:135px;">
Pedersen Tim 
</td>
<td style="width:270px;">
VAT [4018807] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 3,008.95 
</td>
<td style="width:75px;">
kr 3,008.95
</td>
</tr><tr>
<td style="width:135px;">
Rongsted Michael 
</td>
<td style="width:270px;">
VAT [4018799] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 13,441.39 
</td>
<td style="width:75px;">
kr 13,441.39
</td>
</tr><tr>
<td style="width:135px;">
Rongsted Michael 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018799] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 81.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 659.70 
</td>
<td style="width:75px;">
kr 53,765.55
</td>
</tr><tr>
<td style="width:135px;">
Skovhus Charlotte Dahl 
</td>
<td style="width:270px;">
VAT [4019042] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 967.16 
</td>
<td style="width:75px;">
kr 967.16
</td>
</tr><tr>
<td style="width:135px;">
Skovhus Charlotte Dahl 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4019042] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (30) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 4.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 859.70 
</td>
<td style="width:75px;">
kr 3,868.65
</td>
</tr><tr>
<td style="width:135px;">
Smerdel Mogens 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018800] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 DNU System integration (45) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 21.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 859.70 
</td>
<td style="width:75px;">
kr 18,053.70
</td>
</tr><tr>
<td style="width:135px;">
Smerdel Mogens 
</td>
<td style="width:270px;">
VAT [4018800] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 DNU System integration (45) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 4,513.43 
</td>
<td style="width:75px;">
kr 4,513.43
</td>
</tr><tr>
<td style="width:135px;">
Svarre Kamp Gustav 
</td>
<td style="width:270px;">
VAT [4018794] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 15,524.69 
</td>
<td style="width:75px;">
kr 15,524.69
</td>
</tr><tr>
<td style="width:135px;">
Svarre Kamp Gustav 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018794] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 87.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 62,098.75
</td>
</tr><tr>
<td style="width:135px;">
Tange Klaus 
</td>
<td style="width:270px;">
VAT [4018797] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 15,719.45 
</td>
<td style="width:75px;">
kr 15,719.45 
</td>
</tr><tr>
<td style="width:135px;">
Tange Klaus 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018797] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 74.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 849.70 
</td>
<td style="width:75px;">
kr 62,877.80
</td>
</tr><tr>
<td style="width:135px;">
Terp Gregers 
</td>
<td style="width:270px;">
Regular Time: 6/1/2014 to 6/30/2014 [4018792] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 71.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:65px;">
kr 709.70 
</td>
<td style="width:75px;">
kr 50,388.70
</td>
</tr><tr>
<td style="width:135px;">
Terp Gregers 
</td>
<td style="width:270px;">
VAT [4018792] 
</td>
<td style="width:100px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
Atos A/S PO
</td>
<td style="width:75px;">
 System integration (55) Standard 
</td>
<td style="width:45px;">

</td>

<td style="width:45px;">
 1.00 
</td>
<td style="width:50px;">

</td>
<td style="width:65px;">
kr 12,597.18 
</td>
<td style="width:75px;">
kr 12,597.18
</td>
</tr>
 
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
