@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:135px;">
                    <label>Name</label>
                </th>
                <th style="width:270px;">
                    <label>Description</label>
                </th>
                <th style="width:100px;">
                    <label>Approval Manager</label>
                </th>
                <th style="width:75px;">
                    <label>Approval Date</label>
                </th>
                <th style="width:75px;">
                    <label>PO #</label>
                </th>
                <th style="width:75px;">
                    <label>Alt PO #</label>
                </th>
                <th style="width:60px;">
                    <label>QTY</label>
                </th>
                <th style="width:50px;">
                    <label>UOM</label>
                </th>
                <th style="width:75px;">
                    <label>Rate</label>
                </th>
                <th style="width:95px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
 
			<tr>
<td style="width:135px;">
Afonso David 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968433]
</td>
<td style="width:100px;">
 Sung An 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 23.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
$ 35.00 
</td>
<td style="width:95px;">
$ 805.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ahmed Hamza 
</td>
<td style="width:270px;">
Regular Time - APCS - Catalog Services (phase C): 12/29/2014 to 1/4/2015 [4965749]
</td>
<td style="width:100px;">
 Brendan Heffernan 
</td>
<td style="width:75px;">
01/04/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
$ 110.00 
</td>
<td style="width:95px;">
$ 2,640.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ahmed Sohail 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4971085]
</td>
<td style="width:100px;">
 Ankur Dhawan 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 30.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 85.00 
</td>
<td style="width:95px;">
$ 2,550.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ahmed Sohail 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4971087]
</td>
<td style="width:100px;">
 Ankur Dhawan 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 30.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 85.00 
</td>
<td style="width:95px;">
$ 2,550.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ahumada Myron 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4970172]
</td>
<td style="width:100px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 25.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 58.75 
</td>
<td style="width:95px;">
$ 1,468.75
</td>
</tr>
<tr>
<td style="width:135px;">
Alfano Christopher 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968141]
</td>
<td style="width:100px;">
 Charles Clerke 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 36.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 24.00 
</td>
<td style="width:95px;">
$ 864.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ali Asim 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4950481]
</td>
<td style="width:100px;">
 Russell Cheng 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 75.00 
</td>
<td style="width:95px;">
$ 2,400.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ali Asim 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962729]
</td>
<td style="width:100px;">
 Russell Cheng 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 75.00 
</td>
<td style="width:95px;">
$ 1,800.00
</td>
</tr>
<tr>
<td style="width:135px;">
Altenor Emmanuel 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4970093]
</td>
<td style="width:100px;">
 Michael Gates 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 21.60 
</td>
<td style="width:95px;">
$ 518.40
</td>
</tr>
<tr>
<td style="width:135px;">
Altman Sharon 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962031]
</td>
<td style="width:100px;">
 Steve Feldberg 
</td>
<td style="width:75px;">
12/31/2014
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 10.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 36.00 
</td>
<td style="width:95px;">
$ 360.00
</td>
</tr>
<tr>
<td style="width:135px;">
Atkinson Marc 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4965673]
</td>
<td style="width:100px;">
 Dominic Del Bene 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 18.00 
</td>
<td style="width:95px;">
$ 432.00
</td>
</tr>
<tr>
<td style="width:135px;">
Barbieri Miguel 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4967702]
</td>
<td style="width:100px;">
 Craig Hutchison 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 26.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 34.50 
</td>
<td style="width:95px;">
$ 897.00
</td>
</tr>
<tr>
<td style="width:135px;">
Barr Ron 
</td>
<td style="width:270px;">
Regular Time - Streaming (Rodizio) (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968388]
</td>
<td style="width:100px;">
 Sailaja Sikharam 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 115.00 
</td>
<td style="width:95px;">
$ 3,680.00
</td>
</tr>
<tr>
<td style="width:135px;">
Beal Jonathan 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4970697]
</td>
<td style="width:100px;">
 Ari Fox 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 9.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 65.00 
</td>
<td style="width:95px;">
$ 585.00
</td>
</tr>
<tr>
<td style="width:135px;">
Bhimana VV SaiKrishna 
</td>
<td style="width:270px;">
Regular Time - DMART-Business specific data ma(phase C): 12/29/2014 to 1/4/2015 [4968369]
</td>
<td style="width:100px;">
 Rahul Agarwal 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 95.00 
</td>
<td style="width:95px;">
$ 2,280.00
</td>
</tr>
<tr>
<td style="width:135px;">
Block Emily 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4971104]
</td>
<td style="width:100px;">
 Morgan Jones 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 
</td>
<td style="width:95px;">
$ 18.00 
</td>
</tr>
<tr>
<td style="width:135px;">
Borchik Lindsay 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962633]
</td>
<td style="width:100px;">
 Martin Huegli 
</td>
<td style="width:75px;">
01/02/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 
</td>
<td style="width:95px;">
$ 95.00 
</td>
</tr>
<tr>
<td style="width:135px;">
Brown Shawn 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968699]
</td>
<td style="width:100px;">
 Julie Mercurio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 
</td>
<td style="width:95px;">
$ 113.98 
</td>
</tr>
<tr>
<td style="width:135px;">
Cameron Nicholas 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021667 The Will: 12/29/2014 to 1/4/2015 [4971140]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 5.50 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 32.10 
</td>
<td style="width:95px;">
$ 176.55
</td>
</tr>
<tr>
<td style="width:135px;">
Charles Cliff 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_020063 Don't Mean Nuthin': 12/22/2014 to 12/28/2014 [4966126]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 2.25 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 32.10 
</td>
<td style="width:95px;">
$ 72.23
</td>
</tr>
<tr>
<td style="width:135px;">
Charles Cliff 
</td>
<td style="width:270px;">
Regular Time - BK_HARL_001762 Fatal Scandal: 12/22/2014 to 12/28/2014 [4966126]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 2.25 
</td>
<td style="width:50px;">
Hourly
</td>
<td style="width:75px;">
 $ 32.10 
</td>
<td style="width:95px;">
$ 72.23
</td>
</tr>

<tr>
<td style="width:135px;">
Charles Cliff 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021609 In Bed with Mr. Wrong: 12/29/2014 to 1/4/2015 [4966105]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 8.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 272.85
</td>
</tr>
<tr>
<td style="width:135px;">
Charles Cliff 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021714 Price of Fame: 12/29/2014 to 1/4/2015 [4966105]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 12.25 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 393.23
</td>
</tr>
<tr>
<td style="width:135px;">
Cho Angela 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4965542]
</td>
<td style="width:100px;">
 Matt Angorn 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 21.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 105.75 
</td>
<td style="width:95px;">
$ 2,220.75
</td>
</tr>
<tr>
<td style="width:135px;">
Cho Angela 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4947066]
</td>
<td style="width:100px;">
 Matt Angorn 
</td>
<td style="width:75px;">
12/31/2014
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 14.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 105.75 
</td>
<td style="width:95px;">
$ 1,533.38
</td>
</tr>
<tr>
<td style="width:135px;">
Cumalander Eric 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968679]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 92.00 
</td>
<td style="width:95px;">
$ 2,208.00
</td>
</tr>
<tr>
<td style="width:135px;">
Dennis Benjamin 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4957425]
</td>
<td style="width:100px;">
 Jackie Ortega 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 24.00 
</td>
<td style="width:95px;">
$ 576.00
</td>
</tr>
<tr>
<td style="width:135px;">
Desai Ankita 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4964535]
</td>
<td style="width:100px;">
 Kelly Farmer 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 90.00 
</td>
<td style="width:95px;">
$ 2,160.00
</td>
</tr>
<tr>
<td style="width:135px;">
Devine Joseph 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4957562]
</td>
<td style="width:100px;">
 Morgan Jones 
</td>
<td style="width:75px;">
12/31/2014
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 15.25 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 24.00 
</td>
<td style="width:95px;">
$ 366.00
</td>
</tr>
<tr>
<td style="width:135px;">
Dorson Tyler 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962377]
</td>
<td style="width:100px;">
 Morgan Jones 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 8.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 26.40 
</td>
<td style="width:95px;">
$ 211.20
</td>
</tr>
<tr>
<td style="width:135px;">
Escamilla Mauricio 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4954533]
</td>
<td style="width:100px;">
 Sung An 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 27.60 
</td>
<td style="width:95px;">
$ 662.40
</td>
</tr>
<tr>
<td style="width:135px;">
Escamilla Mauricio 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4936531]
</td>
<td style="width:100px;">
 Sung An 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 14.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 27.60 
</td>
<td style="width:95px;">
$ 386.40
</td>
</tr>
<tr>
<td style="width:135px;">
Fantroy Sakina 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4952277]
</td>
<td style="width:100px;">
 Jason Massello 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 40.00 
</td>
<td style="width:95px;">
$ 960.00
</td>
</tr>
<tr>
<td style="width:135px;">
Farrant Alistair 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4947107]
</td>
<td style="width:100px;">
 Jeff Dudzick 
</td>
<td style="width:75px;">
12/31/2014
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 0.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 12.00 
</td>
<td style="width:95px;">
$ 6.00
</td>
</tr>
<tr>
<td style="width:135px;">
Farrant Alistair 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4957126]
</td>
<td style="width:100px;">
 Jeff Dudzick 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 14.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 12.00 
</td>
<td style="width:95px;">
$ 174.00
</td>
</tr>
<tr>
<td style="width:135px;">
Felber Susie 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4967473]
</td>
<td style="width:100px;">
 Greg Hill 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 22.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 95.00 
</td>
<td style="width:95px;">
$ 2,090.00
</td>
</tr>
<tr>
<td style="width:135px;">
Fico Matthew 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962289]
</td>
<td style="width:100px;">
 Craig Hutchison 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 26.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.00 
</td>
<td style="width:95px;">
$ 848.00
</td>
</tr>
<tr>
<td style="width:135px;">
Figueroa Michelle 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021662 At Peace: 12/29/2014 to 1/4/2015 [4964921]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 19.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 609.90
</td>
</tr>
<tr>
<td style="width:135px;">
Figueroa Michelle 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_018739 The Forgetting: 12/29/2014 to 1/4/2015 [4964921]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 7.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 224.70
</td>
</tr>
<tr>
<td style="width:135px;">
Figueroa Michelle 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021251 Palm Sunday: 12/29/2014 to 1/4/2015 [4964921]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 6.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 208.65
</td>
</tr>
<tr>
<td style="width:135px;">
Fox Samantha 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4952145]
</td>
<td style="width:100px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 54.00 
</td>
<td style="width:95px;">
$ 1,728.00
</td>
</tr>
<tr>
<td style="width:135px;">
Fraiberg Jordanna 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968803]
</td>
<td style="width:100px;">
 Beth Anderson 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 37.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 116.50 
</td>
<td style="width:95px;">
$ 4,368.75
</td>
</tr>
<tr>
<td style="width:135px;">
Gainer Nichelle 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4964546]
</td>
<td style="width:100px;">
 Michael Gates 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 21.60 
</td>
<td style="width:95px;">
$ 518.40
</td>
</tr>
<tr>
<td style="width:135px;">
Gallagher Andrew 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4969668]
</td>
<td style="width:100px;">
 Charles Clerke 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 40.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 36.00 
</td>
<td style="width:95px;">
$ 1,440.00
</td>
</tr>

<tr>
<td style="width:135px;">
Gallagher Andrew 
</td>
<td style="width:270px;">
Overtime Time WC: 12/29/2014 to 1/4/2015 [4969668]
</td>
<td style="width:100px;">
 Charles Clerke 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 8.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 54.00 
</td>
<td style="width:95px;">
$ 432.00
</td>
</tr>
<tr>
<td style="width:135px;">
Garber Louis 
</td>
<td style="width:270px;">
Regular Time - FireOS integration (phase A): 12/29/2014 to 1/4/2015 [4962183]
</td>
<td style="width:100px;">
 Maqbool Khan 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 125.00 
</td>
<td style="width:95px;">
$ 3,000.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ghersini Alexander 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021856 Grey Area: 12/29/2014 to 1/4/2015 [4964541]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 11.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.46 
</td>
<td style="width:95px;">
$ 430.79
</td>
</tr>
<tr>
<td style="width:135px;">
Ghersini Alexander 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021434 Partisan Diary: 12/29/2014 to 1/4/2015 [4964541]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 8.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.46 
</td>
<td style="width:95px;">
$ 299.68
</td>
</tr>
<tr>
<td style="width:135px;">
Ghersini Alexander 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021195 With This Ring: 12/29/2014 to 1/4/2015 [4964541]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 6.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.46 
</td>
<td style="width:95px;">
$ 224.76
</td>
</tr>
<tr>
<td style="width:135px;">
Gonzalez Paul 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4973446]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 25.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 98.00 
</td>
<td style="width:95px;">
$ 2,450.00
</td>
</tr>
<tr>
<td style="width:135px;">
Gordh Cody 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4972913]
</td>
<td style="width:100px;">
 Ari Fox 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 40.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 42.00 
</td>
<td style="width:95px;">
$ 1,680.00
</td>
</tr>
<tr>
<td style="width:135px;">
Green Sara 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4978054]
</td>
<td style="width:100px;">
 John Boyd 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 25.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 23.00 
</td>
<td style="width:95px;">
$ 575.00
</td>
</tr>
<tr>
<td style="width:135px;">
Grow-Nyberg Laura 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4967858]
</td>
<td style="width:100px;">
 Michael Gates 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 21.60 
</td>
<td style="width:95px;">
$ 518.40
</td>
</tr>
<tr>
<td style="width:135px;">
Hackney Ian 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_022267 Departure: 12/29/2014 to 1/4/2015 [4971783]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 12.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.46 
</td>
<td style="width:95px;">
$ 449.52
</td>
</tr>
<tr>
<td style="width:135px;">
Hackney Ian 
</td>
<td style="width:270px;">
Sick Time (Billable) - BK_ADBL_021662 At Peace: 12/29/2014 to 1/4/2015 [4971783]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 5.25 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.47 
</td>
<td style="width:95px;">
$ 196.72
</td>
</tr>
<tr>
<td style="width:135px;">
Hackney Ian 
</td>
<td style="width:270px;">
Sick Time (Billable) - BK_ADBL_021667 The Will: 12/29/2014 to 1/4/2015 [4971783]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 5.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.47 
</td>
<td style="width:95px;">
$ 206.09
</td>
</tr>
<tr>
<td style="width:135px;">
Hackney Ian 
</td>
<td style="width:270px;">
Sick Time (Billable) - BK_ADBL_021225 Vengeance of the Iron Dwarf: 12/29/2014 to 1/4/2015 [4971783]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 15.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 37.47 
</td>
<td style="width:95px;">
$ 580.79
</td>
</tr>
<tr>
<td style="width:135px;">
Heary Sean 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962322]
</td>
<td style="width:100px;">
 Sung An 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 30.00 
</td>
<td style="width:95px;">
$ 720.00
</td>
</tr>
<tr>
<td style="width:135px;">
Herring Richard 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4970853]
</td>
<td style="width:100px;">
 Robert Lysaght 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 27.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 109.00 
</td>
<td style="width:95px;">
$ 2,943.00
</td>
</tr>
<tr>
<td style="width:135px;">
Howard Kim 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968177]
</td>
<td style="width:100px;">
 Kenneth Tucci 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 16.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 70.50 
</td>
<td style="width:95px;">
$ 1,128.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ibe Odochi 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968692]
</td>
<td style="width:100px;">
 Michael Gates 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 21.60 
</td>
<td style="width:95px;">
$ 518.40
</td>
</tr>
<tr>
<td style="width:135px;">
Im Young 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4953967]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 110.00 
</td>
<td style="width:95px;">
$ 2,640.00
</td>
</tr>
<tr>
<td style="width:135px;">
Imbemba Danielle 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4967973]
</td>
<td style="width:100px;">
 Jason Massello 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 17.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 36.00 
</td>
<td style="width:95px;">
$ 612.00
</td>
</tr>
<tr>
<td style="width:135px;">
Jewel Jamil 
</td>
<td style="width:270px;">
Regular Time - Mobile Apps-iOS v2, Windows app (phase C): 12/29/2014 to 1/4/2015 [4964083]
</td>
<td style="width:100px;">
 Taufiq Shamim 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 36.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 76.38 
</td>
<td style="width:95px;">
$ 2,749.68
</td>
</tr>

<tr>
<td style="width:135px;">
Jung Hun 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4964728]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00
</td>
<td style="width:50px;">
 Hourly
</td>
<td style="width:75px;">
 $ 75.00 $
</td>
<td style="width:95px;">
 1,800.00 
</td>
</tr>
<tr>
<td style="width:135px;">
Kim Tim 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4957268]
</td>
<td style="width:100px;">
 Sung An 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 23.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 27.60 
</td>
<td style="width:95px;">
$ 648.60
</td>
</tr>
<tr>
<td style="width:135px;">
Lopez Carlos 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 12/30/2014 [4974231]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 18.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 95.00 
</td>
<td style="width:95px;">
$ 1,710.00
</td>
</tr>
<tr>
<td style="width:135px;">
Lozano Alexander 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4963789]
</td>
<td style="width:100px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/02/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 34.35 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 73.00 
</td>
<td style="width:95px;">
$ 2,507.55
</td>
</tr>
<tr>
<td style="width:135px;">
Macchione Michael 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4969423]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 22.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 120.00 
</td>
<td style="width:95px;">
$ 2,700.00
</td>
</tr>
<tr>
<td style="width:135px;">
Marchese Jamey 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968227]
</td>
<td style="width:100px;">
 Julie Mercurio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 23.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 94.00 
</td>
<td style="width:95px;">
$ 2,162.00
</td>
</tr>
<tr>
<td style="width:135px;">
MIKI ARNDT STEPHANIE 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4973933]
</td>
<td style="width:100px;">
 Dikla Treves 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 16.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 80.00 
</td>
<td style="width:95px;">
$ 1,280.00
</td>
</tr>
<tr>
<td style="width:135px;">
Monastyrskaya Olga 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4978055]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 21.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 100.00 
</td>
<td style="width:95px;">
$ 2,100.00
</td>
</tr>
<tr>
<td style="width:135px;">
Morris Matthew 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968721]
</td>
<td style="width:100px;">
 Charles Clerke 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.40 
</td>
<td style="width:95px;">
$ 1,036.80
</td>
</tr>
<tr>
<td style="width:135px;">
Murdock Maurice 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4956735]
</td>
<td style="width:100px;">
 Barbara Ward-Thall 
</td>
<td style="width:75px;">
01/04/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 20.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 90.00 
</td>
<td style="width:95px;">
$ 1,845.00
</td>
</tr>
<tr>
<td style="width:135px;">
Naik Urmila 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4970278]
</td>
<td style="width:100px;">
 Qasim Mohammad 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 18.00 
</td>
<td style="width:95px;">
$ 432.00
</td>
</tr>
<tr>
<td style="width:135px;">
Neufeld Thomas 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4954405]
</td>
<td style="width:100px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 22.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 99.88 
</td>
<td style="width:95px;">
$ 2,197.36
</td>
</tr>
<tr>
<td style="width:135px;">
Noli Jonathan 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968149]
</td>
<td style="width:100px;">
 Julie Mercurio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 34.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 94.00 
</td>
<td style="width:95px;">
$ 3,196.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ochel Colin 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968138]
</td>
<td style="width:100px;">
 David Reid 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 115.00 
</td>
<td style="width:95px;">
$ 3,680.00
</td>
</tr>
<tr>
<td style="width:135px;">
Okin Jordana 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968500]
</td>
<td style="width:100px;">
 Nishigandha Dhami 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 29.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 44.00 
</td>
<td style="width:95px;">
$ 1,276.00
</td>
</tr>
<tr>
<td style="width:135px;">
Parimi Vivek 
</td>
<td style="width:270px;">
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4965139]
</td>
<td style="width:100px;">
 Sailaja Sikharam 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 130.00 
</td>
<td style="width:95px;">
$ 3,120.00
</td>
</tr>
<tr>
<td style="width:135px;">
Patten Dhajja 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4961725]
</td>
<td style="width:100px;">
 John Boyd 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 21.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 24.33 
</td>
<td style="width:95px;">
$ 523.10
</td>
</tr>
<tr>
<td style="width:135px;">
Perillo Robert 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4965037]
</td>
<td style="width:100px;">
 Sung An 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 23.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 25.20 
</td>
<td style="width:95px;">
$ 579.60
</td>
</tr>
<tr>
<td style="width:135px;">
Perlera Regy 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968959]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 23.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 94.00 
</td>
<td style="width:95px;">
$ 2,162.00
</td>
</tr>
<tr>
<td style="width:135px;">
Phillips Forrest 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4956616]
</td>
<td style="width:100px;">
 Jackie Ortega 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 18.00 
</td>
<td style="width:95px;">
$ 432.00
</td>
</tr>
<tr>
<td style="width:135px;">
Potter Patrick 
</td>
<td style="width:270px;">
Regular Time - Amazon English (IR4L) (phase B - CAPEX): 12/29/2014 to 1/3/2015 [4964149]
</td>
<td style="width:100px;">
 Ryan Gildea 
</td>
<td style="width:75px;">
01/03/2015 
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 175.00 
</td>
<td style="width:95px;">
$ 4,200.00
</td>
</tr>
<tr>
<td style="width:135px;">
Ramirez Jorge 
</td>
<td style="width:270px;">
Regular Time - Member Giving (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968412]
</td>
<td style="width:100px;">
 Jeremy Pfund 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 140.00 
</td>
<td style="width:95px;">
$ 4,480.00
</td>
</tr>
<tr>
<td style="width:135px;">
Rogala Jesse 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4970983]
</td>
<td style="width:100px;">
 Morgan Jones 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 24.00 
</td>
<td style="width:95px;">
$ 576.00
</td>
</tr>

<tr>
<td style="width:135px;">
Roll Kevin 
</td>
<td style="width:270px;">
Regular Time - Hushpuppy V2 (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4967459]
</td>
<td style="width:100px;">
 Maqbool Khan 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 22.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 127.32 
</td>
<td style="width:95px;">
$ 2,801.04
</td>
</tr>
<tr>
<td style="width:135px;">
Roll Kevin 
</td>
<td style="width:270px;">
Regular Time - Audible Platform Rewrite (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4967459]
</td>
<td style="width:100px;">
 Maqbool Khan 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 3.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 127.32 
</td>
<td style="width:95px;">
$ 381.96
</td>
</tr>
<tr>
<td style="width:135px;">
Sams Joe 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4953346]
</td>
<td style="width:100px;">
 Jackie Ortega 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 18.00 
</td>
<td style="width:95px;">
$ 432.00
</td>
</tr>
<tr>
<td style="width:135px;">
Scheiner Joshua 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4973127]
</td>
<td style="width:100px;">
 Ari Fox 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 0.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 54.00 
</td>
<td style="width:95px;">
$ 27.00
</td>
</tr>
<tr>
<td style="width:135px;">
Schwerin Michael 
</td>
<td style="width:270px;">
Regular Time: 12/22/2014 to 12/28/2014 [4973131]
</td>
<td style="width:100px;">
 Greg Hill 
</td>
<td style="width:75px;">
01/06/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 3.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 55.00 
</td>
<td style="width:95px;">
$ 165.00
</td>
</tr>
<tr>
<td style="width:135px;">
Selvaraj Sudhakar 
</td>
<td style="width:270px;">
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968296]
</td>
<td style="width:100px;">
 Jeremy Pfund 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 150.00 
</td>
<td style="width:95px;">
$ 3,600.00
</td>
</tr>
<tr>
<td style="width:135px;">
Simon Marie 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4957056]
</td>
<td style="width:100px;">
 Greg Hill 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 22.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 47.00 
</td>
<td style="width:95px;">
$ 1,057.50
</td>
</tr>
<tr>
<td style="width:135px;">
Singaseni Rajiv 
</td>
<td style="width:270px;">
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 
</td>
<td style="width:100px;">
12/31/2014
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:75px;">
 [4962063]
</td>
<td style="width:60px;">
 Sailaja Sikharam 
</td>
<td style="width:50px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:95px;">

</td>
</tr>
<tr>
<td style="width:135px;">
Sinha Nidhi 
</td>
<td style="width:270px;">
Regular Time - Mobile/TOS Automation (phase C): 12/29/2014 to 1/4/2015 [4962270]
</td>
<td style="width:100px;">
 Vaibhav Kharat 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 100.00 
</td>
<td style="width:95px;">
$ 2,400.00
</td>
</tr>
<tr>
<td style="width:135px;">
Sivasubiramanian Thiyaharajan 
</td>
<td style="width:270px;">
Regular Time - Connected Devices (phase A): 12/29/2014 to 1/4/2015 [4961989]
</td>
<td style="width:100px;">
 Matt Raines 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 115.00 
</td>
<td style="width:95px;">
$ 2,760.00
</td>
</tr>
<tr>
<td style="width:135px;">
Solorz Brendan 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4969649]
</td>
<td style="width:100px;">
 Charles Clerke 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 29.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.40 
</td>
<td style="width:95px;">
$ 939.60
</td>
</tr>
<tr>
<td style="width:135px;">
Spiegel Lauren 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4952070]
</td>
<td style="width:100px;">
 Tim Brown 
</td>
<td style="width:75px;">
12/31/2014
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 26.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 36.00 
</td>
<td style="width:95px;">
$ 936.00
</td>
</tr>
<tr>
<td style="width:135px;">
Stalnaker Brandon 
</td>
<td style="width:270px;">
Regular Time - Rodizio JP (phase B - CAPEX): 12/29/2014 to 1/4/2015 [4968392]
</td>
<td style="width:100px;">
 Sailaja Sikharam 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 125.00 
</td>
<td style="width:95px;">
$ 3,000.00
</td>
</tr>
<tr>
<td style="width:135px;">
Stoj Roger 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4969110]
</td>
<td style="width:100px;">
 David Reid 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 10.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 96.00 
</td>
<td style="width:95px;">
$ 960.00
</td>
</tr>
<tr>
<td style="width:135px;">
Stolzman Noah 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4954324]
</td>
<td style="width:100px;">
 Jackie Ortega 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 18.00 
</td>
<td style="width:95px;">
$ 432.00
</td>
</tr>
<tr>
<td style="width:135px;">
Stolzman Noah 
</td>
<td style="width:270px;">
Overtime Time: 12/29/2014 to 1/4/2015 [4954324]
</td>
<td style="width:100px;">
 Jackie Ortega 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 0.75 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 27.00 
</td>
<td style="width:95px;">
$ 20.25
</td>
</tr>
<tr>
<td style="width:135px;">
Timberlake James 
</td>
<td style="width:270px;">
Regular Time - Amazon English (IR4L) (phase A): 12/22/2014 to 12/28/2014 [4954579]
</td>
<td style="width:100px;">
 Ryan Gildea 
</td>
<td style="width:75px;">
01/03/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 130.00 
</td>
<td style="width:95px;">
$ 3,120.00
</td>
</tr>
<tr>
<td style="width:135px;">
Timberlake James 
</td>
<td style="width:270px;">
Regular Time - Amazon English (IR4L) (phase A): 12/29/2014 to 1/4/2015 [4968791]
</td>
<td style="width:100px;">
 Ryan Gildea 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 24.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 130.00 
</td>
<td style="width:95px;">
$ 3,120.00
</td>
</tr>
<tr>
<td style="width:135px;">
Toots Cynthia 
</td>
<td style="width:270px;">

</td>
<td style="width:100px;">
Regular Time: 12/29/2014 to 1/4/2015 [4962286]
</td>
<td style="width:75px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:60px;">

</td>
<td style="width:50px;">
 29.00 
</td>
<td style="width:75px;">
Hourly 
</td>
<td style="width:95px;">
$ 55.00 
</td>
</tr>

<tr>
<td style="width:135px;">
Trenis Bryan 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021451 Aha: 12/29/2014 to 1/4/2015 [4965383]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/04/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 13.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 433.35
</td>
</tr>
<tr>
<td style="width:135px;">
Von Brandis Annette 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4965071]
</td>
<td style="width:100px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/03/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 72.00 
</td>
<td style="width:95px;">
$ 2,304.00
</td>
</tr>
<tr>
<td style="width:135px;">
Warner Timothy 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021978 Second Hand Heart: 12/22/2014 to 12/28/2014 [4974170]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 9.50 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 304.95
</td>
</tr>
<tr>
<td style="width:135px;">
Warner Timothy 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_016326 Drawn into Darkness: 12/22/2014 to 12/28/2014 [4974170]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 2.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 64.20 
</td>
</tr>
<tr>
<td style="width:135px;">
Warner Timothy 
</td>
<td style="width:270px;">
Regular Time - BK_ADBL_021708 Apache Fire: 12/22/2014 to 12/28/2014 [4974170]
</td>
<td style="width:100px;">
 Michael Charzuk 
</td>
<td style="width:75px;">
01/07/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 5.25 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 32.10 
</td>
<td style="width:95px;">
$ 168.53
</td>
</tr>
<tr>
<td style="width:135px;">
Weinbrenner Carlo 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4965509]
</td>
<td style="width:100px;">
 Jayson Merlino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 23.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 115.00 
</td>
<td style="width:95px;">
$ 2,645.00
</td>
</tr>
<tr>
<td style="width:135px;">
Wheeler-Rappe John 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4963773]
</td>
<td style="width:100px;">
 Alex Odulio 
</td>
<td style="width:75px;">
01/02/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 25.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 75.00 
</td>
<td style="width:95px;">
$ 1,875.00
</td>
</tr>
<tr>
<td style="width:135px;">
Yuskis Abigail 
</td>
<td style="width:270px;">
Regular Time: 12/29/2014 to 1/4/2015 [4968630]
</td>
<td style="width:100px;">
 April DiMartino 
</td>
<td style="width:75px;">
01/05/2015
</td>
<td style="width:75px;">

</td>
<td style="width:75px;">

</td>
<td style="width:60px;">
 32.00 
</td>
<td style="width:50px;">
Hourly 
</td>
<td style="width:75px;">
$ 75.00 
</td>
<td style="width:95px;">
$ 2,400.00
</td>
</tr>


        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
