@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <div>
        <label>
            Billing Inquiries:
        </label>
    </div>
    <div style="color:Blue;font-weight:underline;text-align:left;padding-left:2px;">
        <label>
            invoices@workforcelogic.com
        </label>
    </div>
    <div style="padding-left:2px;">
        T: 1-866-296-3343
    </div>
</div>
