@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:100px;">
                    <label>Name</label>
                </th>
                <th style="width:340px;">
                    <label>Description</label>
                </th>
                <th style="width:100px;">
                    <label>Approval Manager</label>
                </th>
                <th style="width:70px;">
                    <label>Approval Date</label>
                </th>
                <th style="width:90px;">
                    <label>PO #</label>
                </th>
                <th style="width:55px;">
                    <label>QTY</label>
                </th>
                <th style="width:55px;">
                    <label>UOM</label>
                </th>
                <th style="width:72px;">
                    <label>Rate</label>
                </th>
                <th style="width:95px;">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td style="width:100px;">
                        Hamed Iyad
                    </td>
                    <td style="width:340px;">
                        13.00% HST
                    </td>
                    <td style="width:100px;">
                        
                    </td>
                    <td style="width:70px;">
                        
                    </td>
                    <td style="width:90px;">
                       x
                    </td>
                    <td style="width:55px;">
                        1.00
                    </td>
                    <td style="width:55px;">
                       
                    </td>
                    <td style="width:72px;">
                        $811.87
                    </td>
                    <td style="width:95px;">
                        $811.87
                    </td>
                </tr>
			<tr>
                    <td style="width:100px;">
                        Hamed Iyad
                    </td>
                    <td style="width:340px;">
                       Regular Time: 5/19/2014 to 5/25/2014
                    </td>
                    <td style="width:100px;">
                        
                    </td>
                    <td style="width:70px;">
                        
                    </td>
                    <td style="width:90px;">
                       x
                    </td>
                    <td style="width:55px;">
                        36.00
                    </td>
                    <td style="width:55px;">
                       Hourly
                    </td>
                    <td style="width:72px;">
                        $108.80
                    </td>
                    <td style="width:95px;">
                       $3916.80
                    </td>
                </tr>
				<tr>
                    <td style="width:100px;">
                        Hamed Iyad
                    </td>
                    <td style="width:340px;">
                        B-Holiday Time: 5/19/2014 to 5/25/2014
                    </td>
                    <td style="width:100px;">
                        
                    </td>
                    <td style="width:70px;">
                        
                    </td>
                    <td style="width:90px;">
                       x
                    </td>
                    <td style="width:55px;">
                       8.80
                    </td>
                    <td style="width:55px;">
                       Hourly
                    </td>
                    <td style="width:72px;">
                       $108.80
                    </td>
                    <td style="width:95px;">
                        $957.44
                    </td>
                </tr>
				<tr>
                    <td style="width:100px;">
                        Hamed Iyad
                    </td>
                    <td style="width:340px;">
                        Overtime Time WC: 5/19/2014 to 5/25/2014
                    </td>
                    <td style="width:100px;">
                        
                    </td>
                    <td style="width:70px;">
                        
                    </td>
                    <td style="width:90px;">
                       x
                    </td>
                    <td style="width:55px;">
                       8.80
                    </td>
                    <td style="width:55px;">
                       Hourly
                    </td>
                    <td style="width:72px;">
                     $152.32
                    </td>
                    <td style="width:95px;">
                        $1370.88
                    </td>
                </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
</div>
