@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}

table {
	border-right: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}

table th {
	border: 1px solid #000;
	border-bottom-width: 2px;
}

table tfoot th {
	border: none !important;
	border-bottom: 1px solid #000 !important;
}

table td {
	border-left: 1px solid #000;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table td.right-align {
	text-align: right;
	padding-right: 5px;
}
</style>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:75px;">
                    <label>Quantity</label>
                </th>
                <th style="width:450px;">
                    <label>Description</label>
                </th>
                <th style="width:100px;">
                    <label>Rate</label>
                </th>
                <th style="width:125px;">
                    <label>Amount</label>
                </th>
            </tr>
        </thead>
        <tbody>
  
                <tr>
                    <td style="width:75px;">
                      1
                    </td>
                    <td style="width:450px;">
                       Screening Services as per attached detail
                    </td>
                    <td style="width:100px;">
                        
                    </td>
                    <td style="width:125px;">
                       $ 70.00
                    </td>
                </tr>
				   <tr>
                    <td style="width:75px;">
                      1
                    </td>
                    <td style="width:450px;">
                      Sales tax
                    </td>
                    <td style="width:100px;">
                        
                    </td>
                    <td style="width:125px;">
                       $ 00.00
                    </td>
                </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                </th>
            </tr>
        </tfoot>
    </table>
   
</div>
