@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
    * {
        font-family: 'Times New Roman';
        font-size: small;
        letter-spacing: 1px;
    }

    .display-inline-block {
        display: inline-block;
    }
</style>
<div>
    <div style="width:25%" class="display-inline-block">
        <label>
            Billing Inquiries:
        </label>
        <label style="color:blue; text-decoration:underline;padding-left:5px;">
            invoicing@zerochaos.com
        </label>
    </div>
    <div style="width:15%" class="display-inline-block">
        T: 1-877-937-6242
    </div>
    <div class="display-inline-block" style="width:20%;">
        Fax: 1-877-888-9376
    </div>
</div>
